.announcements {
  background: #0096ca;
  color: #fff;
  padding: 0.75em 2em;
  text-align: center;
  position: relative;
  z-index: 1000;
  text-align: center;  

  * {
    font-size: 18px;

    @include media-breakpoint-down(lg) {
      font-size: 13px;
    }  
  }

  @include media-breakpoint-down(md) {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 150px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    height: auto;

    * {
      font-size: 13px;
    }    
  }
  #announcementClose {
    float: right;
    color: #ccc;
    font-size: 12px;
  }

  p {
    width: 100%;
    margin: 0 0 5px;
  }

  .scrolledDown & {
    height: 0;
    padding: 0;
    overflow: hidden;
  }
}