.announcementsFooter {
  background: #0096ca;
  color: #fff;
  padding: 0.5em 2em;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;

  * {
    font-size: 15px;
  }

  @include media-breakpoint-down(md) {
    * {
      font-size: 13px;
    }    
  }

  #announcementFooterClose {
    color: #ccc;
    font-size: 12px;
    float: right;

    a {
    	color: #fff;
    }
  }  

  p {
    text-align: center;
    width: 100%;
    margin: 0 0 5px;
  }
}