#BlogSearch{
	fieldset{
		@extend .col-xs-12;
		@extend .col-sm-4;

		&:first-of-type{
			@include media-breakpoint-up(md){
				padding-left:0;
			}
		}

		&:last-of-type{
			@include media-breakpoint-up(md){
				padding-right:0;
			}
		}


		select{
			font-family: 'Open Sans';
			font-weight: 700;
			text-transform:uppercase;
			border:1px solid $brand-primary;
			box-shadow:none;
			-webkit-appearance: none;
		    -moz-appearance: none;
		    appearance: none;
		    background-image:url('../images/dropdown-blog.png');
		    background-repeat: no-repeat;
			background-position: right;
			width:100%;
			height:auto;
			padding:15px;
			border-radius:0;
			color:$brand-primary;
		}
	}
}