.section-blog-recent-posts{
	display:table;
	margin-bottom:20px;
	height:auto;

	@include media-breakpoint-up(md) {
		height:300px;
		margin-bottom:60px;
	}
	
	h5{
		color:$text;
		font-size:1.2em;
	}

	h6{
		color:$text;
		border-top: 1px solid #ddd;
	}

	div{
		padding:10px;
		display:table-cell; 
		margin-bottom: 25px; //-25px;
		@include media-breakpoint-up(md) {
			padding:30px;
		}
		h5{
			color:$white;
		}

		background-color:$headings-color;
		color:$white;

		&.col-sm-5{
			height:100%;
			&:first-of-type{
				float:left;
			}

			&:last-of-type{
				float:right;
			}
		}

		.btn-info{
			padding:10px 30px;

			@include media-breakpoint-down(sm) {
				width:100%;
			}
		}
	}
}