.call-to-action{
  float: none;
  clear: both;
  background: $brand-primary;
  margin: 50px -15px;
  text-align: center;
  color: #fff;
  padding: 35px 15px;

  @include media-breakpoint-down(md) {
    font-size: 1.25em;
  }  

  .home & {
    margin-bottom: 0;
  }  

  h2{
    margin: 0 0 20px;
    color: #fff;
  }
  a{
    @extend .btn;
    @extend .btn-primary;
    text-transform: none;

  }
}
.call-to-action a.dt-btn{
  margin-right: 20px;
}
@media all and (max-width: 576px) {
  .call-to-action a.dt-btn{
    margin: 0px auto 20px auto;
  }
}