.events-section{
	max-width: 1200px;
	margin: 0 auto;
	padding: 40px 0;

	h2{
		text-align: center;
	}

	.row{
		

		@include media-breakpoint-up(md) {
			display:flex;
			width:100%;
			padding-bottom:35px;
		}
	}
	article {
		text-align:center;
		h3 {
			color: #000;
			font-family: 'Open Sans';
			font-weight: 700;
    		font-size: 1.5em;
		}
		.btn{
			padding: 7px 30px;
		    font-weight: 100;
		    font-size: 1.2em;
		}

		.date {
			color: $brand-blue;
		}

		p{
			word-wrap:break-word;

			&.button{
				width:100%;
				text-align:center;
				@include media-breakpoint-up(md) {
					position:absolute;
					bottom:0;
					margin-bottom:-35px;
				}

				
			}
		}
		//@extend .col-xs-12;
	}

	a.btn{ text-transform: none; }
}

.event-modal {
	.modal{
		.modal-dialog{
			@include media-breakpoint-up(md) {
				width:80%;
				margin:15% auto;

			}
			.modal-content{
				.modal-header{
					border-bottom:0;
					button{
						font-size:1em;
					}
				}
				.modal-body{
					 .gform_wrapper .gform_footer input.button,
					 .gform_wrapper .gform_footer input[type=submit] {
					 	background-color:$brand-primary;
					 	color:$white;
					 	display:block;
					 	font-weight:700;
					 	margin:0 auto;
					 	float:none;
					 	padding:15px 40px;
					 }
					h3{
						color:$text;
						text-transform:uppercase;
						text-align:center;
						margin-top:0;
					}

					p{
						padding:10px;
						text-align:center;
					}

					hr{
						margin-top:10px;
						margin-bottom:10px;
					}

					form{
							display:block;
							overflow:hidden;

							input{
								border-radius:0;
								padding:15px;
								box-shadow:none;
								border:1px solid $brand-light-grey;
								color:$brand-light-grey;
								&:placeholder{
									color:$text;
								}
							}

							select{
								border:1px solid $brand-light-grey;
								box-shadow:none;
								-webkit-appearance: none;
							    -moz-appearance: none;
							    appearance: none;
							    background-image:url('../images/dropdown.png');
							    background-repeat: no-repeat;
								background-position: right;
								height:auto;
								padding:15px;
								color:$text;
							}

							input[type="text"] + label{
								display:none;
							}

							.btn-info{
								width:100%;
								padding:10px;
								border-radius:0;
							}
						}
			}
			}
		}
	}
}