#hours_map {
	display: flex;

	@include media-breakpoint-down(md) {
		display: block
	}	
}


.home-map{
	@extend .col-md-7;
	position: relative;

	#sfl_map{
		width: calc(100% + 30px);
		position: relative;
		z-index: 1;
		margin: 0 -15px;
		height: 100%;
		@include media-breakpoint-down(md) {
			height: 70vh;
		}			
	}

	.map_buttons{
		position: absolute;
		z-index: 2;
		bottom: 0;
		width: 100%;
		left: 0;
		text-align: center;


		.btn{
			padding: 10px 50px;
			margin: 0 auto;
			float: none;
			width: auto;
			display: inline-block;
			border-radius: 5px;
			text-transform: none;
			font-weight: bold;
			border: 0;
			font-size: 1.250em;			
		}
	}
}