section.code-of-values{
	@extend .col-lg-6;
	@extend .col-md-6;

	padding-bottom: 50px;
	padding-left: 2em;

	@include media-breakpoint-down(md) { 
		font-size: 1.5em;
		padding-left: 0;
	}

	p {
		line-height: 28px;
		font-size:1.2em;
		padding-right:20px;
	}

	h2{
		font-family: 'Open Sans';
		font-weight: 700;
		letter-spacing:-1px;
		font-size:2em;
	}
   

}