.home-hours{
	@extend .col-md-5;
	margin: 0 -30px 0 0;

	/*background: url(../images/operating-hours.jpg) no-repeat center center;*/
	padding-left:0;
	background-size: cover;
	height: 310px;

	@include media-breakpoint-down(md) {
		margin:0 0 30px 0;
	}

	img{
		width:100%;
		height:100%;
		object-fit: cover;
    	object-position: 50% 30%;
	}		

	div {
		position: absolute; 
		bottom: 0; left: 0;
		width: calc(100% - 30px);
		padding: 5px;
		z-index: 2;
		background: rgba(255,255,255,0.8);

		@include media-breakpoint-down(md) {
			width: 100%;
		}	

		.btn{
			padding: 10px 20px;
		    font-weight: 100 !important;
		    letter-spacing: 1px;

		    i{
				@extend .fa;
				color:$white;
				margin-left:5px;
			}

			&[aria-expanded="false"], &[aria-expanded="false"]:focus{
				background: $brand-primary;
				i { @extend .fa-caret-right; }
			}
			&[aria-expanded="true"], &[aria-expanded="true"]:focus{
				background: #969B9E;
				i { @extend .fa-caret-down; }
			}			
		}


		dl {
			margin: 0;
			padding: 15px 30px;
			dt {
				float: left;
				display: inline-block;
				width: 35%;
				clear: left;
				text-transform: capitalize;
			}
			dd {
				float: left;
				display: inline-block;
				width: 65%;
				clear: right;				
			}
		}		
	}	

	



}