.home_top_slide{
	position: relative;
}

.home-slider {
	//@extend .col-md-8;

	#homeTopCarousel{
		margin-left: -15px;
		margin-right: -15px;

		@include media-breakpoint-down(md) {
			height: 60vh;
			min-height: 320px;

			.carousel-indicators{
				//bottom: -10px;
			}
		}
		.carousel-indicators li {
			width: 30px;
			height: 7px;
			border-radius: 0px;
			margin: 0;
			border: none;
			background: #fff;

			&.active{
				background: $brand-light-grey
			}
		}

		figure{

			@include media-breakpoint-down(md) {
				text-align: center;
				height: 60vh;
				min-height: 320px;
			}				

			img {
				position: relative;
				z-index: 1;
				width: 100%;
				height: 600px;
				object-fit: cover;
				@include media-breakpoint-down(md) {
					height: 60vh;
					min-height: 320px;
				}				
			}

			figcaption{
				position: absolute;
				z-index: 2;
				bottom: 0;
				top: 0;
				right: 35px;
				color: #fff;

				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				@media only screen and ( max-width: 480px ) {
					width: 90%;
					right: 5%;
				}	


				p:first-of-type {
					margin: 15px 0;
					padding: 15px;
					background: rgba(0,0,0,0.64);
					@media only screen and ( max-width: 480px ) {
						width: 100%;
						border-radius: 8px;
					}	
				}

				p:last-of-type{
					display:block;
					width:100%;
					text-align:right;

				}

				strong {
					font-size: 2.813em;
					font-family: 'Neuton';
					font-weight: 700;
					display: block;
					text-align: right;
					@include media-breakpoint-down(sm) {
						font-size: 1.813em;		
					}						
					@media only screen and ( max-width: 480px ) {
						text-align: center;
						font-size: 2.813em;	
					}						
				}

				em{
					display: block;
					font-size: 1.813em;
					font-style: normal;
					font-weight: bold;
					text-align: right;

					@include media-breakpoint-down(md) { text-align: center }
					@include media-breakpoint-down(sm) {
						font-size: 0.813em;			
					}
					@media only screen and ( max-width: 480px ) {
						font-size: 1.813em;		
					}	
				}

				a {
					@extend .btn;
					@extend .btn-primary;

					text-transform: none;

					@media only screen and ( max-width: 480px ) {
						display: block;
						width: 100%;
					}	
				}
			}
		}
	}

}

.campaign-slider{
	#homeTopCarousel{
		figure{
			figcaption{
					left:0;
					right:0;

					@media only screen and ( max-width: 480px ) {
						width:100%;
					}
					strong, em{
						text-align:center;
					}
					p{
						strong{
							font-size:4em;
						}
					}
					p:first-of-type{
						width:100%;
						@media only screen and ( max-width: 480px ) {
							border-radius:0;
						}
					}

					p:last-of-type{
						text-align:center;
						
						a{
							background-color:$brand-primary;
							color:#fff;
						}
					}
			}
		}
	}
}
