.home-reviews{
	@extend .col-lg-6;
	@extend .col-md-6;

	background: url(../images/reviews-home-background.jpg) no-repeat center center;
	background-size: cover;
	margin-left: -15px;
	margin-right: -15px;
	text-align: center;
	height:450px;

	.moreContent {
		display: none;
	}

	&.more {
		height: auto;
		background-position: center top;

		.moreContent {
			display: inline;
		}
	}

	.moreReviewContent {
		font-weight: bold;
		color: $brand-yellow;
	}	

	@include media-breakpoint-down(md) { 
		padding-top: 30px;
		font-size: 1.25em;
	}

	h2 {
		color: #fff;
		small{
			font-size: 0.594em;
			color: #fff;
			font-family:'Open Sans';
		}
	}



	#homeReviewCarousel{
		max-width: 1920px;
		margin: 0 auto;

		.carousel-control {
			background: none !important;
			font-size: 3em;
		}

		.carousel-inner{
			p, strong{
				color:$white;
			}

			@include media-breakpoint-down(xs) {
				padding-left: 0;

				p {
					font-size: 12px;
				}
			}	
		}
		
		li { 
			color: #fff; 
			padding: 30px 15px 70px;

			@include media-breakpoint-down(md) {			
				padding-top: 0;
			}	

			p {
				color:$white;
				max-width: 520px;
				margin: 0 auto 35px;
				font-size: 1.125em;
				//font-style: italic;
				position: relative;
				/*	
				&:before, &:after{
					content: '"';
					font-size: 3em;
					color: $brand-primary;
					background: #fff;
					border-radius: 50%;
					display: inline-block;
					width: 32px;
					height: 32px;
					text-align: left;
					position: absolute; 
					top: 0;
					text-indent: -3px;
				}
				&:before{
					left: -64px;
					line-height: 1.15em;					
					transform: rotate(180deg);
				}
				&:after{
					right: -64px;
					line-height: 1.25em;
				}
				*/	

				@include media-breakpoint-down(md) { 
					max-width: 80%;
				}			
			}
			strong {
				font-size: 1em;
				/*
				background: rgba(255,255,255,0.6);
				color: #332e30;
				padding: 12px 30px;
				display: inline-block;
				border-radius: 8px; 
				*/
			}
		}

	}
}

.campaign-reviews{
	width:100%;
	margin:0 auto;
	background: $campaign-yellow;
	height:auto;

	h2{
		margin-bottom:0;
		color:$text;
	}

	#homeReviewCarousel {
		li{
			padding: 30px 15px 30px !important;
		}
		
		.carousel-inner{
			p, strong{
				color:$text !important;
			}
			
		}
	}
}