.home-process{
	border-top: 2.063em solid #f7f8f8;
	border-bottom: 2.063em solid #f7f8f8;
	background: #fff !important;
	text-align: center;
	background: #f7f7f7;
	padding: 50px 0 0;

	@include media-breakpoint-down(md) { font-size: 1.5em }	

	h2{
		margin: 0; 
		padding: 0;
		font-size:2.2em;
	}

	ul{
		margin: 20px auto 0;
		padding: 0;
		list-style: none;
		max-width: 1130px;


		a {
				color: #332e30;
				font-size:1.2em;
		}
		li{
			@extend .col-md-2;
			margin-bottom: 50px;			
			border: 3px solid transparent;	
			padding: 80px 0 0 0;
			background-position: center top 10px;
			background-repeat: no-repeat;
			min-height: 180px;

			@include media-breakpoint-down(md) { 
				min-height: none;
				padding-bottom: 15px;
			}				

			&:hover{
				border-color: #94999c;
			}
			
			a {
				color: #332e30;
				font-size:1.2em;
				display: inline-block;
				padding: 0 17px;
			}

			&:nth-child(3) a, &:last-child a {
				padding: 0 10px;
			}

			&.process-meet{
				background-image: url(../images/process-meet.png)
			}
			&.process-discovery{
				background-image: url(../images/process-discovery.png)
			}
			&.process-review{
				background-image: url(../images/process-review.png)
			}
			&.process-contract{
				background-image: url(../images/process-contract.png)
			}
			&.process-conference{
				background-image: url(../images/process-conference.png)
			}
			&.process-dedicated{
				background-image: url(../images/process-dedicated.png)
			}			
		}
	}

	.process-message{
		float: none;
		clear: both;
		margin-left: -15px;
		margin-right: -15px;
		padding: 40px 15px;
		line-height: 30px;

		p { 
			max-width: 660px;
			margin: 20px auto;
			font-size:1.2em;
		}
	}


} 