.blog-posts{
	max-width: 1200px;
	margin: 0 auto;
	padding: 40px 0;

	@include media-breakpoint-down(md) { 
		font-size: 1.25em;
	}	

	article {
		h3 {
			color: #000;
			font-size: 1.8em;
    		font-family: 'Open Sans';
			font-weight: 700;
		}
		a {
			color: $brand-blue;
			&:hover {
				color: darken($brand-blue,50%);
			}
		}
		p{
		font-size:1.2em;
		}
		@extend .col-sm-6;
	}

	a.btn{ text-transform: none; padding:5px 30px; }
}