.home-category-thumbs {
  float: none;
  clear: both;

  h1,
  h2{
      text-align: center;
      color: $brand-primary;
      font-size:2.45em;
  }

  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      @extend .col-md-3;
      @extend .col-sm-6;
      @extend .col-xs-12;

      
      


      @include media-breakpoint-down(md) {
        margin-bottom: 15px;
        font-size: 1.125em;
      }  
      @include media-breakpoint-down(sm) {
        font-size: 1.125em;
      }  

      figure{
        position: relative;

        figcaption{
          transition: all 0.5s ease;
          display: flex;
          flex-direction: column;
          text-align: center;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          color: #fff;
          padding: 20px;


          &:hover{
            background: rgba(70,42,117,0.6);
            a{ margin: 2.5em auto 0; }
          }

          strong{
            transition: all 0.5s ease;
            display: flex;
            flex-direction: column-reverse;
            height: 33%;
            margin: -20px -20px 0;
            font-family: 'Open Sans';
            font-weight: 700;
            font-size:1.5em;
            justify-content: center;
            background: rgba(0, 0, 0, 0.64);
     
            @include media-breakpoint-down(lg) { font-size: 1.125em; }
            @include media-breakpoint-down(sm) { }
          }

          a{
            transition: all 0.5s ease;
            color: #fff;
            @extend .btn;
            @extend .btn-default;
            margin: 60% auto 0;

            &.btn {
              background: transparent;
              color: #fff;
              border-color: #fff;
              padding:5px 25px;
            }
          }

          &:hover{
            strong{
              height: 50%;
              background: rgba(0, 0, 0, 0);
            }
          }
        }//figcaption


      }

      img {
        max-width: 100%;
        width: 100%;
        height: auto;
      }
    }
  }

}


.campaign-home-category-thumbs {
  ul{
      li{
        @extend .col-md-4;
        @extend .col-xs-12;


        img{
          height: 150px;
          width: auto;
          margin: 0 auto;
          float: none;
          display: block;
        }

        figcaption{
          h3{
            color:$text;
            text-align:center;
            font-weight:700;
            line-height:2em;
          }

          p{
            text-align:center;
            line-height:1.5em;
          }
        }
    }
  }
}