.home_top_slide{

	@include media-breakpoint-down(md) {
		display: flex;
		flex-direction: column;
		.home-slider { order: 1 }
	}			
}


.home-grey-categories {
	@extend .col-md-4;

	position: absolute;
	left: -15px;
	z-index: 2;
	height: 100%;
	display: flex;


	@include media-breakpoint-down(md) {
		position: static;
		display: block;
		order: 2;
		margin-top: 10px;
		margin-left: -15px;
		margin-right: -15px;		
	}	

	form{
		background: rgba(0,0,0,0.7);
		color: #fff;
		padding: 30px 70px;
		display: flex;
		flex-direction: column;		

		@include media-breakpoint-down(lg) {
			padding: 30px;	
		}
		@include media-breakpoint-down(md) {
			background: #5B5758;
			display: block;
			margin-left: -15px;
			margin-right: -15px;	
					
		}
		@include media-breakpoint-down(sm) {	
			padding: 30px;
		}	

		h2, ul, p { 
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: auto;
			align-items: center;
			justify-content: center;
			display: flex;
			width: 100%;			
		}

		h2 {
			margin: 0;
			padding: 0;
			color: #fff;
			text-align: center;
			@include media-breakpoint-down(xl) {
				font-size: 1.8em;
			}	
			@include media-breakpoint-down(md) {
				font-size: 2em;
				br { display: none }
			}								
		}

		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			flex-direction: column;
			align-items: left;

			@include media-breakpoint-down(md) { 
				margin: 20px auto;
				font-size: 1.5em;
			}
			@include media-breakpoint-down(md) { 
				font-size: 1.125em;
			}	

			li {
				margin: 0 0 10px 0;
				width: 100%;
				label{
					display: block;
					font-weight: normal;
					font-size: 1.125em;
				}
			}
		}

		p {
			text-align: center;
			margin: 0;

			input{
				@extend .form-control;
				float: none;

				&[type=submit]{
					@extend .btn;
					@extend .btn-primary;
					padding: 6px 15px;


				}
			}
		}

		.btn {
			line-height: normal;
			font-size: 1em;
		}

	} //form
} //home-grey-categories
