section.our-team{

	@extend .col-lg-6;
	@extend .col-md-6;

	margin: 0 auto;
	//padding: 70px 15px;


	h2 {
		text-align: center;
	}

	figure{
		@extend .col-sm-4;
		position: relative;
		text-align: center;

		img { 
			max-width: 100%;
			position: relative;
			z-index: 1;
			height: auto;
		}	
		figcaption{
			background: #fff;
			position: relative;
			display: inline-block;
			z-index: 2;
			top: -25px;
			padding: 10px;
			font-size: 0.825em;	
			margin: 0 auto
		}
	}	

	.our-team-desc {
		@extend .col-sm-8;

		p {
			font-size: 0.825em;				
			line-height: 2em;					
			margin: 0 0 30px;
		}

	}	

	.btn {
		text-transform: none
	}
}