	.recent-case-studies{
		h3 {
			color: #000; 
			border-bottom: 1px solid #e2e2e2;
			margin-top: 60px;
			padding-bottom: 15px;
		}

		section {
			margin: 40px 0;
			border: 1px solid #e2e2e2;
			box-shadow: 0 6px 0 #cccccc;
			padding: 30px;
			overflow:auto;

			@include media-breakpoint-down(md) {
				padding:0;
			}

			.case-info {
			 	@extend .col-lg-9;
			 	strong{
			 		display: inline-block;
			 		width: 200px;
			 	}
			}

			.case-image{
				@extend .col-lg-3;
				.btn {
					display: block;
					border-radius: 0;
					float: none;
					clear: both;
					margin: 0 15px;

					@include media-breakpoint-down(md) {
						margin:10px 0;
					}
				}
				img {
					@extend .col-sm-4;
					height: auto;
					margin: 3px 0;
				}
			}
		}
	}