section.start-a-conversation{
	text-align: center;
	padding: 50px 0;
	background: $brand-primary;
	color: #fff;

	&.campaigns{
		background-color:#f7f7f7;
		color:$text;
		padding: 50px 10px;
		h3, label{
			color:$text;
		}

		input::placeholder, select::placeholder, textarea::placeholder
		{
			font-weight:700;
		}

		.gform_fields{
			.checkboxes{
				

				> label{
					display:none;
				}

				ul.gfield_checkbox{
					display:flex;
					align-items:stretch;
					flex-wrap: wrap;
					justify-content:center;

					li{
						display:flex;
						flex: 100%;
						@include media-breakpoint-up(md){
							flex: 0 30%;
						}
						input{
							height:10px;
							
						}

						label{
							text-align:left;
						}
					}
				}
			}
		}

		textarea{
			padding:10px;
		}

		input[type="submit"]{
			@extend .btn-info;
		}

		.gform_wrapper input[type="checkbox"]{
			float:left !important;
			margin-right:10px;
			border:2px solid #909090;
		}


		.services_checkbox > .ginput_container{
			padding:0 30px;

		}

		.sub{
			width:470px;
			margin:0 auto;
			font-size:.7em;


			@media only screen and ( max-width: 480px ) {
				width:100%;
				padding:0 10px;
			}
		}
	}
	.g-recaptcha{
		@media (max-width: 365px) { 
			transform: scale(0.95);
			-webkit-transform: scale(0.95);
		}
	}

	h3 {
		margin: 0 10px 40px;
		padding: 0;
		font-family: 'Open Sans';
		font-weight: 700;
		font-size:2.188em;
		color:$white;
	}

	.gforms_confirmation_message{
		color: $white;
	}

	.gform_wrapper{
		width:90%;
		@include media-breakpoint-up(lg){
			width:45%;
		}

		input{
			padding: 10px !important;
			outline: 0;
			color: #000;
		}  

		input[type="checkbox"] + label{
			    margin: 0 10px 0 0 !important;
		}

		.ginput_container .gfield_checkbox li{
			@include media-breakpoint-down(sm){
				display:block;
			}
		}

		.ginput_container .gfield_checkbox input{
			@include media-breakpoint-down(sm){
				float:left !important;
				margin:5px 10px;
			}
		}



		.gform_footer {
			input[type="submit"]{
				@extend .btn;
				@extend .btn-primary;
			}
		}
	}
}