.btn{
	background-color:$white;
	color:$brand-primary;
	&:hover{
		box-shadow: rgba(0,0,0,0.8) 0 0 8px; 
	}
	&.btn-primary{
		background-color:$brand-yellow;
		padding:10px 15px; //10px 30px;
		margin:0 auto;
		float:none;
		width:auto;
		display:inline-block;
		border-radius: 5px;
		color: #332e30;
		font-family: 'Open Sans';
		font-weight: 700;
		text-transform:uppercase;
		border:0;
		font-size:1.250em;

		&:hover{
			background-color:$brand-dark-grey;
			color: #fff
		}
	}

	&.btn-default{
		background-color: $brand-yellow;
    	color: $text;
    	font-size:0.938em;
    	border:3px solid $brand-primary;
    	font-family: 'Open Sans';
		font-weight: 700;
    	border-radius: 10px;

    	&:hover{
			background-color: $brand-yellow;
			color: $brand-primary;
			border-color: $brand-primary;
		}
	}

	&.btn-info{
		background-color:$brand-primary;
		color:$white;
		text-transform:uppercase;
		font-weight:700;
		border:none;
		&:focus,
		&:active{
			background-color:lighten($brand-primary, 30%);
		}
	}

	&.btn-link{
		background-color: #f7f9f8;
		border-radius: 10px;
		color: #3b3738;
		&.btn-lg{
			font-family: 'Open Sans';
			font-weight: 700;
			font-size: 1.125em;
		}
		&:hover{
			background-color: $brand-yellow;
			color: #000;
		}
	}

}


