
label.gfield_label, legend.gfield_label{
	visibility:hidden;
	margin-top:0 !important; 
	line-height:1 !important;
}

.gfield_select:focus .gf_placeholder{
	display:none;
}

.gforms_confirmation_message{
	text-align: center;
	padding: 20px;
	font-weight: 700;
	color: $brand-primary;
}


.gform_wrapper,
.home-grey-categories form{
	max-width:100% !important;
	margin:0 auto !important;

	/* header message */ 
	.validation_error{
		margin-left:0;
		margin-right:0;
		margin-bottom:0 !important;
		text-align:center;
		width:100% !important;
		color:$brand-yellow !important;
		border-top: 2px solid $brand-yellow !important; 
    	border-bottom: 2px solid $brand-yellow !important;
    	background-color: $brand-primary;
	}


	input[type="checkbox"]{
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    background-color: #fafafa;
	    border: 1px solid #cacece;
	    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	    padding: 0.625em !important;
	    border-radius: 0;
	    display: inline-block;
	    position: relative;
	    margin-top:.15em !important;
	    float:right !important;
	    + label{
	    	font-weight:normal;
	    	float:left;
	    	margin: 0 10px 0 0 ;
	    }

	    &:checked{
	    background-color: #e9ecee;
		border: 1px solid #adb8c0;
		box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
		color: #99a1a7;
	    }
	    &:checked:after{
	    	@extend .fa;
		    content: "\F00C";
			font-size: 1.125em;
			position: absolute;
			top: 1px;
			left: 1px;
			color: #000;
	    }
	} 

	
	.gform_body{
		.two-col{
			.gfield{
				display:inline-block;
			}
		}
		ul{
			padding:0;
			.gfield{
				@include media-breakpoint-down(md){
					display: block;
					width:100% !important;
				}

				&.gf_left_third{
					margin-top:0 !important;
					margin-left:1.3% !important;
				}

				&.gf_left_half{
					margin-right:0 !important;
				}

				&.gf_left_half,
				&.gf_right_half{
					margin-left:1.2% !important;
				}

				.gfield_label{
					.gfield_required{
						display:none;
					}
				}

				.ginput_container{
					margin-top:0 !important;
					margin-left:0 !important;
					color:$text;

					.gfield_description{
						&.checkboxes{
							text-align:center;
						}
					}

					.gfield_checkbox{
						text-align:center;
						color:$white;
					}
				}

				/* Error Message */
				&.gfield_error{
					background-color: lighten($brand-yellow, 20%);

					.instruction {
						margin-left:5px;
					}

					.ginput_container{
						margin-left:6px !important;
					}

					&.gf_left_half,
					&.gf_right_half{
						margin-left: 1.2% !important;

						&.gfield_contains_required{
							@include media-breakpoint-down(md){
								width:100% !important;
							}
						}
					}

					&.gf_left_half{
						margin-right:1.6% !important;	
					}

					&.gf_left_third{
						margin-top:.75em !important;
					}

					.gfield_checkbox{
						color:#790000 !important;
					}
				}
			}
		}
	}

	.gform_footer {
		input[type="submit"]{
			margin: 0 auto !important;  
		    float: none !important;
		    display: block !important;
		}
	}

}

.start-conversation-popup.modal{

	.g-recaptcha{
		@media (max-width: 365px) { 
			transform: scale(0.87);
			-webkit-transform: scale(0.87);
		}
	}

	h2{
		color:$white;
		text-align:center;
	}
	.border{
		width: 0;
		height: 0;
		border-left: 80px solid transparent;
		border-right: 0px solid transparent;
		border-top: 80px solid black;
		position: absolute;
		right: 0;
		top: 0;
	}
	
	.modal-content{
		background-color: $brand-primary;
		border-radius: 0;
		.modal-header{
			border-bottom:0;
			padding:10px 0 0 0;
			.close{
				 color:$white;
				 -webkit-text-stroke: 4px rgb(0, 0, 0);
				font-size: 2em;
				margin-right: 13px;
			}	
		}

		.modal-body{
			h2{
				margin-top:0;
			}
			.gform_body{
				input[type="text"]{
					padding:15px;
					width:100% !important;
				}

				.gfield_error{
					.gfield_checkbox{
						color:#790000;
					}
				}
				.gfield_checkbox{
					color:$white;

					li{
						padding:0 20px !important; 

						 @media (max-width: 450px) { 
						 	display:block;
						 	width:100%;
						 }

						input[type="checkbox"] + label{
							float:right !important;
							 margin: 0 10px 0 0 !important;
							 width:85% !important;

							 @include media-breakpoint-down(sm) {
							 	width:auto !important;
							 }
						}
					}	
				} 
			}
			.gform_footer{
				input[type="submit"]{
					@extend .btn;
					@extend .btn-primary;

					width:100%;
					border-radius:0;
				}
			}	
		}
	}
}

input,
select,
textarea
{
	&::placeholder{
		color: #000 !important;
		opacity:1 !important;
	}
}

.gfield .gfield_select {
    padding: 10px;
}
