@font-face {
    font-family: 'open_sans';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans';
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot');
    src: url('../fonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-ExtraBold-webfont.woff2') format('woff2'),
         url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: 900;
    font-style: normal;

}

/***************************************************/
@font-face {
    font-family: 'neuton';
    src: url('../fonts/neuton-regular-webfont.eot');
    src: url('../fonts/neuton-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neuton-regular-webfont.woff2') format('woff2'),
         url('../fonts/neuton-regular-webfont.woff') format('woff'),
         url('../fonts/neuton-regular-webfont.ttf') format('truetype'),
         url('../fonts/neuton-regular-webfont.svg#neutonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'neuton';
    src: url('../fonts/neuton-bold-webfont.eot');
    src: url('../fonts/neuton-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/neuton-bold-webfont.woff2') format('woff2'),
         url('../fonts/neuton-bold-webfont.woff') format('woff'),
         url('../fonts/neuton-bold-webfont.ttf') format('truetype'),
         url('../fonts/neuton-bold-webfont.svg#neutonbold') format('svg');
    font-weight: 700;
    font-style: normal;

}














