.home-slider{
  figure.left, figure.right{
    figcaption { display: none; opacity: 0}
  }

  figure.active{
    figcaption{
       display: block;
       p { animation: 2s ease-out 0s 1 fadeIn;}
       strong { animation:  0.8s ease-out 0s 1 zoomIn; }
       em {  animation:  2.0s ease-out 0s 1 zoomIn; }
       a { animation:  1.2s ease-out 2s 2 pulse; }
    }
  }
}

/*
.home-reviews{
  .item.left, .item.right{
    p, strong { visibility: hidden; opacity: 0}
  }

  .item.active{
    p, strong{
       animation: 2s ease-out 0s 1 fadeIn;
    }

  }
}
*/


.home-category-thumbs {
  ul.animate{
    li{
      &:first-child { animation:  1s ease-out 0s 1 slideInLeft; }
      &:nth-child(2) { animation:  0.5s ease-out 0s 1 slideInLeft; }

      &:last-child { animation:  1s ease-out 0s 1 slideInRight; }
      &:nth-child(3) { animation:  0.5s ease-out 0s 1 slideInRight; }
    }
  }
}

.campaign-home-category-thumbs {
  padding:30px 0;

  ul.animate{
    li{
      &:first-child { animation:  1s ease-out 0s 1 slideInLeft; }
      &:nth-child(2) { animation:  0.5s ease-out 0s 1 slideInUp; }
      &:last-child { animation:  1s ease-out 0s 1 slideInRight; }
    }
  }
}


section.our-team.animate{
  figure { animation:  1s ease-out 0s 1 slideInLeft; }
  .our-team-desc { animation:  1s ease-out 0s 1 slideInRight; }
}

section.call-to-action.animate{
  h2 { animation: 1s ease-out 0s 1 lightSpeedIn;}
  .btn { animation:  1.2s ease-out 0s 1 zoomIn; }
}

section.events-section{
  article:nth-child(1){animation:  1s ease-out 0s 1 slideInLeft;}
  article:nth-child(2){animation:  1s ease-out 0s 1 slideInUp;}
  article:nth-child(3){animation:  1s ease-out 0s 1 slideInRight;}
}

section.home-process {
  ul.animate{
    li:nth-child(1) { animation:  1.5s ease-out 0s 1 slideInLeft; }
    li:nth-child(2) { animation:  1s ease-out 0s 1 slideInLeft; }
    li:nth-child(3) { animation:  0.5s ease-out 0s 1 slideInLeft;}
    li:nth-child(4) { animation:  0.5s ease-out 0s 1 slideInRight; }
    li:nth-child(5) { animation:  1s ease-out 0s 1 slideInRight; }
    li:nth-child(6) { animation:  1.5s ease-out 0s 1 slideInRight;}
  }
}

.btn:hover, .home-slider .btn:hover {
  //animation:  1.2s ease-out 0s 1 pulse;
}