
* {
	transition: all 0.5s ease;
}

html{
	scroll-behavior: smooth;
}


body{
	font-size: 16px;
	@include media-breakpoint-down(md) {
		font-size: 14px;	
	}	
	@include media-breakpoint-down(sm) {
		font-size: 12px;	
	}		
}

h1,
h2,
h4,
h6{
	font-family: 'Neuton';
	font-weight: 700;

	small {
		display: block;
		font-size: 0.657em;
		font-family: 'Open Sans';
		font-weight: 700;
		color: #332e30;
		margin-top: 15px;
	}
}
h2,h6{
	color:$brand-primary;
}


h3,
h5,
h6{
	font-family:'Open Sans';		
}
h5,h3{
	color:$brand-blue;
}

h3{
	font-weight:500;
}


h2 {
	color: $brand-primary;
	margin-bottom: 25px;
}


p, span, div{
	font-family:'Open Sans';
}


main{
	padding-top: 10.875em;

	.hasAnnouncement & {
		padding-top: calc(10.875em + 70px);
		@include media-breakpoint-down(md) {
			padding-top: 10.875em;
		}		
	}

	body.ng-scope.hasAnnouncement & {
	    padding-top: 55px; // this is for the panel
	}

	@include media-breakpoint-down(lg) {
		/*padding-top: 242px;*/
	}
	
	&.main-campaign{
		padding-top: 8.875em;
	}
}

.fa-search{
	font-size:1.750em;
}

.container-fluid{
		.row{
				max-width:1920px;
				margin-left: auto;
				margin-right: auto;
		}
}




//Google maps
#sfl_map {
	* { transition: none; }
}
#sfl_container_infowindow{
	
	font-size: 1.125em;
	line-height: 1.5em;
	transition: none;
	p { margin: 0}
	a, strong {
		font-weight: bold;
		color: $brand-primary;
	}
	* { transition: none }
}

.clearfix{
	float: none;
	clear: both;
}

.hidden-anchor{
    padding-top:200px;
    margin-top:-200px;

}


.modal {
 overflow-y: auto;
}

.modal-open {
 overflow: auto;
}


.g-recaptcha > div, .ginput_recaptcha > div{
	margin: 0 auto;
}
.g-recaptcha{
	transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
}

#campaignsanchor{
	display: block;
    position: relative;
    top: -220px;
    visibility: hidden;
}

@media(min-width:768px){
	.event-center{
		float:none;
		margin: 0 auto;
	}
}