.social-media{
            text-indent:0;
            padding:0;
            li{
                list-style:none;
                display:inline-block;
                vertical-align: middle;
            }
            a{

                height:34px;
                width:32px;
                display:inline-block;
                margin-right: 8px;
                margin-top: 8px;

                span { display: none }

                &.fa {
                    font-size: 1.25em;
                    border-radius: 50%;
                    border: 1px solid #fff;
                    text-align: center;
                    line-height: 1.8em;

                    @include media-breakpoint-down(md) {
                        font-size: 1.286em;
                        line-height: 2em;
                    }    

                    @include media-breakpoint-down(sm) {
                        font-size: 1.500em;
                        line-height: 2.333em;
                    }                      

                    &:hover {
                        border: 1px solid $brand-yellow;
                    }
                }

                &.fa-angies_list,
                &.fa-homestars,
                &.fa-bbb,
                &.fa-superpages,
                &.fa-yellowpages,
                &.fa-citygridmedia,
                &.fa-houzz,
                &.fa-google-bus {
                    content: ' ';
                    background: url(../images/social-sprite-misc.png) no-repeat;
                    position: relative;
                    transition: none !important;
                    margin-bottom: -4px;             
                }


                &.fa-angies_list {
                    background-position: -207px -14px;
                    &:hover {
                        background-position: -207px -77px;
                    }
                }

                &.fa-homestars {
                    background-position: -164px -14px;
                    &:hover {
                        background-position: -164px -77px;
                    }
                }

                &.fa-bbb {
                    background-position: -123px -17px;
                    &:hover {
                        background-position: -123px -81px;
                    }
                }   

                &.fa-superpages {
                    background-position: -82px -14px;
                    &:hover {
                        background-position: -82px -78px;
                    }
                }

                &.fa-yellowpages {
                    background-position: -40px -16px;
                    &:hover {
                        background-position: -40px -79px;
                    }
                }           

                &.fa-citygridmedia {
                    background-position: -289px -15px;
                    &:hover {
                        background-position: -289px -79px;
                    }
                }

                &.fa-houzz {
                    background-position: -330px -16px;
                    &:before {
                        content: none;
                    }
                    &:hover {
                        background-position: -330px -80px;
                    }
                }  

                &.fa-google-bus {
                    background-position: -247px -16px;
                    &:before {
                        content: none;
                    }
                    &:hover {
                        background-position: -247px -80px;
                    }
                } 


            }
}