.error404 main{
	background-image: url('../images/404-bg.jpg');
	background-size:cover;

	.container{
		padding:60px 0;
		margin-bottom:0 !important;
	}
	span{
		color:$white;
		text-align:center;
		line-height:1em;
		margin:0 auto;
		display:block;

		&.title{
			font-size:10em;

			@include media-breakpoint-up(sm) {
				font-size: 12.688em;
			}
			
			font-family: 'Neuton';
			font-weight: 700;
			line-height:.6em;
		}

		&.subtitle{
			font-size:2em;
			font-family: 'Neuton';
			font-weight: 700;
			position:relative;
			text-transform:uppercase;
			&:before,
			&:after{
				width:30px;
				border:1px solid $white;
				position:absolute;
				content:"";
				top:50%;
			}	

			&:before{
				margin-left:-60px;
			}

			&:after{
				margin-left:30px;
			}
		}

		&.text{
			font-size:1.125em;
		}

		&.buttons{
			padding:30px 0;

			.btn{
				padding:10px 15px;
				font-size:1.125em;
				margin:10px;
				
				&.btn-info{
				    font-weight: 100;
    				padding: 10px 30px;
				}

				&.btn-primary{
					padding: 10px 50px;
		    		font-family: 'Open Sans';
					font-weight: 500;
				}

			}

		}
	}

	form{
		text-align:center;
		margin-top:20px;

		input[type="text"]{
			width:270px;
			color:$text;
			display:inline-block;
			border:0;
			border-radius: 6px;
    		padding: 20px 20px;
		}

		button{
			border:none;
			box-shadow:none;
			display:inline-block;
			margin-left:10px;
			background:none;
			padding:0;
		}
		i{
			
			color:$white;
			vertical-align:sub;
		}

	}
	
}