.page-template-template-landing,
.template-campaign-landing,
.campaigns-template-template-landing,
.page-template-default.remodeling-guide-download {
  header {
    #topmost_microsite {
      p.give-a-call{
        @extend .col-lg-4;
        @extend .col-md-6;
        @extend .col-sm-6;
        @extend .col-xs-6;
        text-align: right; 
        float: right;
      }
    }
  }

  main {
    background-image: none !important;
    background-color: #969b9e;
    padding-top: 10.875em !important;

    .hero-image {
		  background-image: none !important;
      background-color: transparent !important;
    }

    .content {    	
      margin-top: 0 !important;
      	
      p {
        color: #000 !important;
      }
    }
  }

  .gform_wrapper {
    max-width: 500px !important;
    width: 100%;
    margin: auto;

    .gform_body {
      ul {
        li {
          padding-bottom: 15px;

          label {
            display: none;
          }

          input {
            border-radius: 0;
            box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.2);
            padding: 10px 15px !important;
            border: 1px solid rgba(0, 0, 0, 0.2);

            &::-webkit-input-placeholder { /* Edge */
              color: rgba(0, 0, 0, 0.8);
              font-weight: bold;
              font-size: 12px;
            }

            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
              color: rgba(0, 0, 0, 0.8);
              font-weight: bold;
              font-size: 12px;
            }

            &::placeholder {
              color: rgba(0, 0, 0, 0.8);
              font-weight: bold;
              font-size: 12px;
            }
          }
        }
      }
    }

    .gform_footer {
      .button {
        background-color: #432a71;
        color: #fff;
        border: none;
        padding: 10px 35px;
        font-weight: bold;
        transition: 0.5s ease-in-out;

        &:hover {
          background-color: #ffde4c;
          color: #432a71;
        }
      }
    }
  }

  .start-a-conversation {
    .gform_wrapper { 
      width: 45%; 
      max-width: 100% !important;

      .gform_body {
        ul {
          li {
            label {
              display: inline-block;
            }
          }  
        }
      }      
    }  
  }

  .landing-reviews {
    padding: 60px 0;
    background-color: #ffde4c;
    color: #432a71;

    .review-container {
      margin: auto;
      max-width: 1200px;
      padding: 0 10px;
      text-align: center;

      h2 {
        margin-bottom: 10px;
      }

      span {
        margin-bottom: 30px;
      }

      .review-slider {
        figure {
          padding: 15px 60px;

          blockquote {
            border-left: none;
  
            &::before {
              content: open-quote;
              font-weight: bold;
              font-size: 30px;
              margin-right: 5px;
            }
  
            &::after {
              content: close-quote;
              font-weight: bold;
              font-size: 30px;
              margin-left: 5px;
            }
          }
          
          figcaption {
            font-weight: bold;
          }
        }
        
        .arrow {
          position: absolute;
          top: 25%;
          font-size: 50px;
          color: #fff;
          cursor: pointer;

          &.prev {
            left: 0;
          }

          &.next {
            right: 0;
          }
        }
      }
    }
  }
}
