.blog main,
.category main{
	.posts-wrapper{
		display:table;
		width:100%;
		margin:20px 0;


		&:nth-of-type(even){
			.post-content{
				@extend .col-xs-12;
				@extend .col-sm-5;
			}
			img{
				@extend .col-xs-12;
				@extend .col-sm-7;
			}
		}

		&:nth-of-type(odd){
			.post-content{
				@extend .col-xs-12;
				@extend .col-sm-5;
				@extend .col-sm-pull-7;

			}
			img{
				@extend .col-xs-12;
				@extend .col-sm-7;
				@extend .col-sm-push-5;
			}
		}
		
		.post-content{
			display:table-cell;
			height:auto;
			padding:15px !important;
			background-color:$headings-color;
			color:$white;

			@include media-breakpoint-up(md){
				height:500px;
				padding:35px !important;
			}

			a{
				padding:10px 30px;
				width:100%;

				@extend .btn;
				@extend .btn-info;

				@include media-breakpoint-up(md){
					width:auto;
				}
			}

			h6{
				color:$white;
			}
		}

		img{
			display:table-cell;
			padding-left:0 !important;
			padding-right:0 !important;
			height:250px;
			object-fit:cover;

			@include media-breakpoint-up(sm){
				height:400px;
			}
			@include media-breakpoint-up(md){
				height:500px;
			}
		}
	}

	.page-numbers{
		border:1px solid $brand-primary;
		background-color:$white;
		color:$brand-primary;
		padding: 8px 20px;
		border-radius: 10px;
		line-height: 3em;
		&.current{
			background-color:$brand-primary;
			color:$white;
		}

	}
	

}