section.campaign-process{
    background-color: #f7f7f7;
    padding: 1px 0;
    text-align:center;
  
    ol{
      column-count: 2;
      width:70%;
      margin:0 auto;
      text-align:left;
      @media only screen and ( max-width: 480px ) {
        column-count: 1;
      }
      li{
        &::marker{
          color:$brand-primary;
          font-size: 1.5em;
          font-weight:600;
          font-family: 'Neuton';
        }
        font-size:1.2em;
        font-weight:700;
        padding:10px 0;
      }
    }
  
    h2{
      font-size:2.5em;
    }
}
  
section.campaign-content{
  padding:30px 0;
  text-align:center;
  background-repeat:no-repeat;
  background-size:cover;
  
  .container{
    opacity:.9;
    background-color:#fff;
    padding:30px 20px;
  }

  p{
    @include media-breakpoint-down(lg) {
        font-size:14px;
    }
  }
}

.template-campaign-version2_b,
.template-campaign-version2_k {
  
  #header_nav .col-sm-6 {
    @include media-breakpoint-down(sm) {
      text-align: center !important;
    }
  }
  
  .main-campaign {
    padding-top: 8.875em !important;
  }

  .btn.btn-primary {
    font-size: 1.75em;
    padding: 0.6em 1.143em;
  }

  h2 {
    font-size: 3em;
    color: $brand-primary;
    text-align: center;
  }

  h4 {
    font-size: 1.125em;
    font-family:'Open Sans';
    text-align: center;
  }  

  .campaign-video-version2 {
    text-align: center;
    padding-bottom: 5.625em;

    .embed-responsive {
      margin: 30px auto;
    }
  }

  .campaign-steps {
    text-align: center;
    padding-bottom: 5.625em;

    ul {
      @extend .row;

      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 1em;

      li {
        @extend .col-md-2;
        @extend .col-sm-4;
        @extend .col-xs-12;

        margin-bottom: 10px;

        @include media-breakpoint-down(sm) {
          border-bottom: 1px dashed #a9a9a9;
          margin-bottom: 10px;
          padding-bottom: 10px;
        }  

        figure {
          img {
            margin-bottom: 8px;
          }

          figcaption {
            font-weight: bold;
          }
        }
      }
    }
  }

  .campaign-features {
    text-align: center;
    padding-bottom: 5.625em;

    ul {
      @extend .row;

      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 1em;

      li {
        @extend .col-lg-6;
        @extend .col-md-12;
        @extend .col-sm-12;

        margin-bottom: 10px;

        @include media-breakpoint-down(md) {
          border-bottom: 1px dashed #a9a9a9;
          margin-bottom: 10px;
          padding-bottom: 10px;
        }  

        figure {          
          img {
            margin-bottom: 8px;
            max-width: 100%;
            float: left;
            margin-right: 1em;

            @include media-breakpoint-down(md) {
              float: none;
              margin-right: 0;
              margin-bottom: 1em;
            }  
          }

          figcaption {
            text-align: left;

            @include media-breakpoint-down(md) {
              text-align: center;
            }  

            h5 {
              color: #000;
            }
          }
        }
      }
    }
  } 

  .campaign-form-version2 {
    .gform_wrapper {
      max-width: 1000px !important;

      .gform_fields {
        @extend .row;

        .gfield {
          margin: 0 !important;
          padding: 1em 0.5em !important;
          clear: none !important;
          max-width: 100% !important;

          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4),
          &:nth-child(5) {
            @extend .col-md-6;
          }

          &:nth-child(6) {
            clear: both !important;
          }

          .gfield_label {
            display: none;
          }

          input[type=text],
          input[type=email],
          textarea {
            width: 100%;
            border: 2px solid #969b9e;
            border-radius: 5px;
            padding: 10px; 
          }

          .gfield_checkbox {
            text-align: left;

            li {
              padding-bottom: 8px; 
            }

            input[type=checkbox] {
              float: left !important;
              border-radius: 3px;
              border-color: #969b9e;
            }    

            label {
              color: #000;
            }        
          }
        }
      }

      .gform_button {
        @extend .btn;
        @extend .btn-primary;

        font-size: 1.75em;
        padding: 0.6em 1.143em;   
        display: block !important;
        width: 100%;
      }
    }
  } 
}

.template-campaign-kitchen_bath {
  &.microsite main {
    @include media-breakpoint-down(md) {
      padding-top: 8em !important;
    }

    @media only screen and (max-width: 600px) {
      padding-top: 4em !important;
    }

    .container {
      @media (min-width: 1200px){
        width: 1280px !important;
      }
    }
  }

  &.scrolledDown {
    .campaign-header-wrap {
      top: 0;
    }

    .container-fluid {
      padding-top: unset !important;
      padding-bottom: unset !important;
      font-size: unset !important;
    }
  }

  &.scrolledUp {
    #header_nav {
      position: fixed;
      width: 100%;
    }
  }

  #masthead {
    position: unset;
  }

  section {
    scroll-margin-top: 180px;
  }

  .btn {
    margin-bottom: 20px;
    font-family: 'Neuton';
    text-transform: none !important;
    font-size: 24px;
    padding: 10px 30px;
    white-space: normal;

    @media only screen and (max-width: 480px){
      font-size: 18px;
    }

    @include media-breakpoint-down(sm){
      width: 100%;
    }
  }

  h4 {
    font-size: 16px;
    font-family: 'Open Sans';
    margin-bottom: 0;
    text-transform: uppercase;
  }

  h2 {
    line-height: 1.4em;
    margin-bottom: 10px;
    font-size: 38px;
    margin-top: 0;

    @media only screen and (max-width: 480px) {
      font-size: 28px;
    }
  }

  #header_nav {
    z-index: 5;

    #navbar {
      position: fixed;
    }

    .mobile-header-menu {
      background-color: #fff;

      li {
        display: block !important;
        
        a {
          font-size: 18px !important;
          text-transform: none !important;
          font-family: 'Neuton';
        }
      }
    }

    .container-fluid{
      i {
        color: #8174aa;

        &.fa-phone {
          transform: rotate(270deg);
        }
      }

      @include media-breakpoint-down(md){
        display: none;
      }
    }
  }

  .campaign-header-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 5;

    @include media-breakpoint-down(lg){
      gap: 60px;
    }

    @include media-breakpoint-down(md){
      justify-content: space-between;
      padding: 0 10px;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.37);
    }

    .campaign-header-logo {
      img {
        max-width: 220px;
        display: block;
        margin: 20px 0 10px 0;

        @include media-breakpoint-down(sm){
          max-width: 170px;
        }
      }

      em {
        display: inline-block;
        font-style: normal;
        text-transform: uppercase;
        border-top: 1px solid #432a71;
        padding: 5px 50px;
        color: #432a71;
      }
    }

    .mobile-header {
      display: none;

      .navbar-toggle {
        top: 0 !important;
        background-color: transparent !important;
        border: 0;

        .icon-bar {
          background-color: #432a71 !important;
          height: 3px !important;
        }
      }

      #navbar {
        position: absolute;
        left: 0;
        top: 100px;
        z-index: 1;
        border: 0;
        padding: 0px !important;
        overflow: hidden;

        @media only screen and (max-width: 360px){
          top: 85px;
        }
      }

      @include media-breakpoint-down(md){
        display: block;
      }
    }

    .header-menu {
      display: flex;
      gap: 40px;
      justify-content: center;
      align-items: center;
      list-style: none;
      flex-wrap: wrap;
      font-family: 'Neuton';
      font-size: 28px;
      font-weight: 400;
      padding-left: 0;

      @include media-breakpoint-down(md){
        display: none;
      }
    }
  }

  .campaign-kb-video {
    margin-left: -15px;
    margin-right: -15px;
    position: relative;

    .video-background {
      max-height: 500px;
      object-fit: cover;
      width: 100%;

      @media only screen and (max-width: 600px){
        height: 800px;
        max-height: 800px;
      }
    }

    .campaign-after-header-wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      max-width: 800px;
      width: 100%;
      padding: 10px;

      h1 {
        margin: 10px 0 15px 0 !important;
        line-height: 1.4;
        color: #fff;
      }
      
      h4 {
        color: #fff;
      }

      .after-header-phone {
        font-size: 16px;
        font-weight: 600;
        display: block;
        color: #fff;

        i {
          transform: rotate(270deg);
        }
      }
    }
  }

  .kb-badges {
    ul {
      display: flex;
      list-style: none;
      gap: 20px 100px;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      padding: 30px;

      @media only screen and (min-width: 1200px){
        gap: 180px;
      }

      @include media-breakpoint-down(sm){
        gap: 20px 0px;
        padding: 30px 0px;

        li {
          width: 100%;
          max-width: 50%;
          text-align: center;
        }
      }
    }

    img {
      max-width: 120px;
      width: 100%;
      filter: grayscale(1);
    }
  }

  .kb-about {
    .about-wrapper {
      display: flex;
      flex-wrap: wrap;

      & > div {
        width: 50%;
        padding: 20px;

        @include media-breakpoint-down(md) {
          width: 100%;
          padding: 20px 0;
        }
      }
    }

    .about-content {
      p {
        color: #969a9e;
        font-size: 16px;
        line-height: 24px;
      }

      .btn {
        margin-bottom: 0;
      }
  
      h3 {
        color: #000;
        font-size: 16px;
        font-weight: 600;
        margin: 0px;
      }

      .phone-wrapper {
        font-weight: 600;

        i {
          transform: rotate(270deg);
        }

        @include media-breakpoint-down(sm){
          display: block;
          text-align: center;
        }
      }
    }
  }

  .kb-services {
    h4 {
      text-align: center;
      margin-top: 20px;
    }

    h2 {
      text-align: center;
      margin-bottom: 15px;
      margin-top: 5px;
    }

    .services-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 60px;
      margin-top: 30px;

      .services-item {
        width: 100%;
        max-width: 350px;

        @include media-breakpoint-down(sm){
          max-width: 100%;
          text-align: center;
        }

        img {
          width: 100%;
          max-width: 350px;
        }
      }

      figcaption {
        color: #969a9e;
        font-size: 16px;
        line-height: 24px;
      }
    }

    .service-btn-wrap {
      text-align: center;

      &.hide-wrap-desktop {
        display: none;

        @include media-breakpoint-down(sm){
          display: block;
        }
      }

      .btn {
        margin-bottom: 10px;
        margin-top: 30px;
      }

      .service-phone {
        font-weight: 600;
        display: block;

        i {
          transform: rotate(270deg);
        }
      }
    }
  }

  .kb-gallery {
    h4 {
      text-align: center;
      margin-top: 20px;
    }

    h2 {
      text-align: center;
      margin-bottom: 15px;
      margin-top: 5px;
    }

    .gallery-wrapper {
      gap: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      a {
        position: relative;

        @include media-breakpoint-down(sm){
          width: 100%;
          max-width: 30%;
        }

        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background: none;
          z-index: 2;
          transition: all 1s ease;
        }

        &:hover:before {
          background: rgba(0, 0, 0, 0.4);
        }
      }

      img {
        cursor: pointer;
        max-width: 240px;
        width: 100%;
        position: relative;
      }
    }

    .gallery-btn-wrap {
      text-align: center;

      .btn {
        margin-bottom: 10px;
        margin-top: 30px;
      }

      .gallery-phone {
        font-weight: 600;
        display: block;

        i {
          transform: rotate(270deg);
        }
      }
    }
  }

  .kb-contactus {
    .contactus-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;

      .contactus-item {
        max-width: 600px;
        text-align: center;
        width: 100%;

        @media only screen and (max-width: 1200px) {
          max-width: 480px;
        }

        @include media-breakpoint-down(sm) {
          max-width: 100%;
        }
      }    
    }

    .contact-details-wrap {
      gap: 0px 50px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;

      .contact-box {
        background-color: #F7F8F8;
        padding: 0.5em 1em;
        max-width: 350px;
        width: 100%;
        border-radius: 10px;
        word-break: break-word;
        margin: 25px 0;

        @include media-breakpoint-down(sm){
          max-width: 100%;
        }

        p {
          color: #432a71;
          margin-top: 10px;
          font-weight: 600;
        }
      }
    }

    .form-wrapper {
      padding: 40px;
      border-radius: 10px;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 20px 0px;

      @include media-breakpoint-down(sm){
        margin-left: -30px;
        margin-right: -30px;
        border-radius: 0px;
      }

      .gform_required_legend {
        display: none;
      }

      .gform_button {
        width: 100%;
        background-color: #FFDE4C;
        outline: 0;
        border: 0;
        font-family: 'Neuton';
        padding: 20px;
        font-weight: 600;
        font-size: 24px;
      }

      input {
        margin-bottom: 10px !important;
        border-radius: 4px;
        border: 0;
        outline: 0;
        padding: 10px 16px !important;
      }

      textarea {
        border-radius: 4px;
        border: 0;
        outline: 0;
        padding: 10px 16px !important;
      }

      .gform_fields {
        grid-column-gap: 5% !important;
      }

      .gform_confirmation_message {
        color: #fff;
      }
    }

    .map-wrapper {
      height: 680px;
      margin-top: 20px;
      width: 100%;
    }
  }

  .campaign-before-footer {
    background: url(../images/footer-bkg.jpg);
    text-align: center;
    min-height: 360px;
    display: flex;
    background-position: center;

    .campaign-before-footer-wrap {
      width: 100%;
      max-width: 900px;
      margin: auto;
      padding: 50px;

      @media only screen and (max-width: 480px){
        padding: 50px 20px;
      }

      h2 {
        margin: 10px 0 15px 0 !important;
        line-height: 1.4;
        color: #fff;
      }
      
      h4 {
        color: #fff;
      }

      .before-footer-phone {
        font-size: 16px;
        font-weight: 600;
        display: block;
        color: #fff;

        i {
          transform: rotate(270deg);
        }
      }
    }
  }
  
  .site-footer {
    background-color: #fff;
    color: #432a71;

    .footer-wrap {
      display: block;
      margin: auto;

      .campaign-footer-logo {
        img {
          width: 100%;
          max-width: 220px;
          display: block;
          margin: 20px 0 10px 0;
        }
  
        em {
          display: inline-block;
          font-style: normal;
          text-transform: uppercase;
          border-top: 1px solid #432a71;
          padding: 5px 50px;
          color: #432a71;
        }
      }
    }

    .footer-menu {
      display: flex;
      gap: 40px;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin: 25px 0px;
      list-style: none;
      flex-wrap: wrap;
      font-family: 'Neuton';
      font-size: 28px;
      font-weight: 400;
      padding-left: 0;

      @include media-breakpoint-down(sm){
        flex-direction: column;
        gap: 10px;
        font-size: 21px;
      }

      a {
        color: #432a71;
      }
    }

    .copyright {
      color: #969a9e;
      background-color: transparent;
      margin-bottom: 20px;
    }
  }
}