.career{
	background:url(../images/banner_02.png) center no-repeat !important;
}
.tab-content{
	border:  1px solid #ddd;
	border-top:  0px;
}
#career-single article{
	padding: 40px;
}
#careerslinkcontainer-microsite{
	position: absolute; padding: 11px; text-align: center; left: 0; right: 0; z-index: 2; width: 50%; margin: auto;
}
#careerslinkcontainer-microsite span, #careerslinkcontainer-microsite a{
	color: #fff; font-size: 18px;
}
#careerslinkcontainer-microsite a{
	font-weight: bold;
}
#careerslinkcontainer{
	position: absolute; padding: 11px;
	color: #fff;
}
@media all and (max-width: 576px) {
	#careerslinkcontainer, #careerslinkcontainer-microsite{
		position: relative !important;
		background: rgb(67,42,113);
		text-align: center;
		width: 100%;
	}
}
.job{
	width: 100% !important;
}
.job select {
	color: #000;
	outline: 0;
}
.attach-resume > .gfield_label{
	visibility: visible;
}
.attach-resume input[type="file"]{
	color: #fff !important;
	margin: auto;
}