 .post-type-archive-case-studies main, .case-studies-landing main{
	h6{
		color:$text;
		text-align: center;
	    margin-top: 30px;
	    text-transform: uppercase;
	    display:none;
	}

	ul{
		
		li{
			list-style:none;
			display:inline-block;
			padding: 0 10px;
			line-height: 2.5em;
			cursor:pointer;
			
			a{
				padding-bottom: 5px;
				border-bottom: 4px solid #ddd;

				&:active,
				&:focus{
					border-color:$brand-primary;
				}

				&.active{
					font-weight:600;
					border-bottom: 4px solid #432a71;
				}
			}

			&.loading{
				position: absolute;
				left: 0;
				right: 0;
			}
		}
	}

	.case-studies-loading{
			margin:20px;
		}

	.panel-group{

		.panel{
				border:1px solid #ddd;
				border-radius:0;
				margin: 20px 0 0; 
				box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.2);
				@include media-breakpoint-up(md) {
					box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2);
				}
			.panel-body{
				a.btn{
					border-radius:0;
					padding: 10px 30px;
					font-family: 'Open Sans';
					font-weight: 700;

					@include media-breakpoint-down(md) {
						width:100%;
					}
				}


				span strong{
					display:block;
					font-family: 'Open Sans';
					font-weight: 500;
				}

				img{
					padding:5px; 
					height:100px;

					
					@include media-breakpoint-up(sm){
						height:200px;
					}

					@include media-breakpoint-up(md){
						height:80px;
					} 

					@media only screen and (max-width: 600px) and (min-width: 480px)  {
						height:150px;
					}

					@media only screen and (max-width: 1199px) and (min-width: 768px)  {
						height:200px;
					}

				}

				table{
					display:inline-block;

					@include media-breakpoint-down(md){
						padding:0;
					}
					tr{
						margin:10px 0;
						display:block;

						@include media-breakpoint-down(sm) {
							border-bottom:1px solid #ddd;
							padding:10px 0;
						}
						td{

							@include media-breakpoint-down(md) {
								display:block;
							}
							&:first-of-type{
								
    							
    							width:100%;
								@include media-breakpoint-up(lg) {
									width:200px;
									text-align: right;
									padding-right: 20px;
								}
							}

							strong{
								font-family: 'Open Sans';
								font-weight: 500;
							}
						}
					}
				}
			}
		}
	}

	.case-gallery{
		margin:0;
		padding:0;

		li{
			@extend .col-xs-4;
			padding:0;

			img{
				width:100%;
				object-fit:cover;
			}
		}
	}
}