.single-case-studies main, .case-studies main{

	.home-reviews{
		width:100%;
		padding:20px;
		border-radius:5px;
		height:300px;
		margin:0 auto;
		margin-bottom:50px;
		h2{
			display:none;
		}

		@media (max-width: 430px)  {
			height:400px;
		}

		.carousel-inner{
		padding:0;
			.item{

				p{
					color:$white;
					font-style: italic;
					max-width: 600px !important;
					width: 100%;

					@include media-breakpoint-down(md){
						max-width: 80% !important;
					}

					&:before,
					&:after{
						content:" ";
						background:url('../images/reviews-quote.png') no-repeat;
						height:35px;
						width:35px;
						display:block;
						background-size:contain;
						position:absolute;
						top:0;

						@media (max-width: 430px)  {
							height:30px;
							width:30px;
						}
					}

					&:before{
						left:-50px;
						@media (max-width: 430px)  {
							left:-30px;
						}
					}
					&:after{
						right:-50px;
						@media (max-width: 430px)  {
							right:-30px;
						}
						
					}
				}
			}
			strong{
				border-radius:10px;
				background-color:rgba(255,255,255,0.5);
				color:$text !important;
				font-weight:normal;
				padding:12px 30px !important;
			}
		}

		.carousel-control{
			display:none;
		}
	}

	.arrows{
		list-style:none;
		padding:0;
	}
	.case{
		margin:10px 0;
		@include media-breakpoint-up(md){
			padding:20px;
		}
		@extend .row;
		box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.2);
		
		div{
			// @extend .col-sm-6;

			&.left{
				@extend .col-sm-4;
			}

			&.right{
				@extend .col-sm-8;
			}

			&.full{
				// @extend .col-sm-12;
				box-shadow:none !important;
			}

			@include media-breakpoint-up(md){
				padding:10px 0;
				margin:10px 0;
			}

			&:nth-child(odd){
				padding-right:15px; 
				clear: left;

				@include media-breakpoint-up(md){
					text-align:right;
				}

				@include media-breakpoint-down(md){
					padding-top:10px;
				}
			}

			&:nth-child(even){
				box-shadow:0px 1px 0 0px rgba(0, 0, 0, 0.1);

				@include media-breakpoint-down(md){
					padding-bottom:10px;
				}
			}

			strong{
				font-family: 'Open Sans';
				font-weight: 600;
			}
		}
	}

	.case-image{
		@extend .row;
		position:relative;
		margin-left:0;
		margin-right:0;
		figure{
			margin:45px 0;
			padding-left:1px;
			padding-right:1px;
			@extend .col-sm-4;

			&.active{
				width:100%;
			}
			img{
				width:100%;
				object-fit: contain;

				@include media-breakpoint-down(md){
					height:300px;
					width:300px;
				}


				@include media-breakpoint-down(md){
					width:100%;
				}
			}

			span.pin{
				position: absolute;
			    top: 10px;
			    right: 0;
			    padding:10px;
			    
			    .inner{
			    	background-color:$brand-yellow;
			    	color: $text;
			    	padding:10px;
			    }

			}

			figcaption{
				padding:20px 5px;
				background-color:rgba(0, 0, 0, 0.5);
				position:absolute;
				bottom:0;
				left:0;
				right:0;
				color:#fff;
			    max-height: 85px;
			    display: flex;
			    align-items: center;
			    height: 100%;

				span{
					color:$white;
					font-weight:600;
					text-transform: uppercase;
					margin: 0 auto;
					display: block;
				}
				p{
					color:$white;
					word-wrap:break-word;
					text-align:left;
				}
			}
		}

		.arrows{
			list-style:none;
		}

		.prev,
		.next{
			list-style:none;
			cursor:pointer;
			color: rgb(221, 221, 221);
			font-size: 3em;
			position:absolute;
			top:45%;
			i{
				@extend .fa;
			}
		}

		.prev{
			margin-left:20px;
			
			@include media-breakpoint-up(xl){
				margin-left: -100px;
			}

			@media screen and (max-width:  1400px ) and (min-width: 850px){
				margin-left: -30px;
			}

			i{
				@extend .fa-angle-left;
			}
		}

		.next{
			margin-right:20px;
			right:0;
			
			@include media-breakpoint-up(xl){
				
				margin-right:-100px;
			}
			@media screen and (max-width:  1400px ) and (min-width: 850px){
				margin-right: -30px ;
			}

			i{
				@extend .fa-angle-right;
			}
		}
	}

	
	h3, p{
			color:$text;
			text-align:center;
	}

	.intro p{
		text-align:left;
		margin-bottom:20px;
	}


	h5{
		color:$brand-grey;
	}

	ul.social-media-case-study{
		padding-left:0;
		li{
			list-style:none;
			display:inline-block;
			/*@include media-breakpoint-up(sm){
				display:inline-block;	
			}*/
			
			
			a{
				height:47px;
				width:130px;
				display:inline-block;
				background-position:center;
				background-size:contain;
				background-repeat:no-repeat;
				border: 1px solid #ddd;
				&.fb{
					background-image: url('../images/case-fb.png');
				}

				&.pn{
					background-image: url('../images/case-pn.jpg');
				}

				&.hz{
					background-image: url('../images/case-hz.jpg');
				}

				&.li{
					background-image: url('../images/case-li.png');
				}
			}
		}
	}
}

ul.case-categories {
	text-align:center;
}