.contact-us main{
	h1{
		color:$brand-primary;
	}

	p.intro{
		padding:0;

		@include media-breakpoint-up(md) {
			padding:40px 0;
		}
	}

	.contact-form-wrapper{
		background-image:url('../images/contact-us-form-bg.jpg');
		overflow:auto;
		padding:0;
		background-repeat:no-repeat;
		background-size:cover;
		background-position: center;

		@include media-breakpoint-up(md) {
			padding:20px;
		}
		h2{
			color:$white;
			text-align:center;
			text-transform: uppercase;
		}

		.gform_wrapper{
			max-width:100%;
			padding:10px;

			@include media-breakpoint-up(md){
				padding:30px;
			}
			form{
				.gform_body{
					.gfield_required{
						display:none;
					}

					.gfield.textarea {
						

						@include media-breakpoint-up(md){
							margin-left: 1.2% !important;							
						}

						@include media-breakpoint-down(md){
							margin-left: 0 !important;
						}

						
					}

					.gfield,
					.gfield.gfield_error{
						@include media-breakpoint-down(md){
							margin-left:0 !important;
						}
					}

					.ginput_container{

						opacity:.8;
						input,
						select,
						textarea{
							border:1px solid #000;
							// opacity:.7;
							color:#000;
							border-radius:0;
							height:40px;
							width:100% !important;
							&::placeholder{
								color:#000 !important;
							}	
						}

						input[type="text"] + label{
							display:none;
						}

						textarea{
							height:80px;
						}

						input[type="text"],
						textarea{
							padding:10px;

						}

						select{
							padding:0 20px;
						}
					}
				}
				.gform_footer{
					input[type="submit"]{
						@extend .btn;
						@extend .btn-info;
						font-size:1em;
						opacity:1;
						width:100%;
						display:block;
						margin:0 auto;
						padding:12px;
						border:0;
						bprder-radius:0;
						@include media-breakpoint-up(lg) {
							width:540px;
						}
					}
				}	
			}
		}

		.gform_confirmation_wrapper{
			color: #fff;
			text-align: center;
			font-size: 1.3em;
		}

		.phone{
			font-family: 'Open Sans';
			font-weight: 700;
		}
	}	

	address{
		margin-top:40px;

		@include media-breakpoint-down(md) {
			padding:0;
		}
		.title{
			font-size:1.2em;
			color:$text;
			text-transform:uppercase;
			font-family: 'Open Sans';
			font-weight: 700;
		}


		.btn-primary{
			font-size:1em;
		}

		div{
			padding:0;
		}

		dl{
			margin: 0;
			padding: 0;
			
			dd { 
				@extend .col-md-9; 
				@extend .col-sm-9; 
				@extend .col-xs-9; 
			}

			dt {
				@extend .col-md-3; 				
				@extend .col-sm-3; 								
				@extend .col-xs-3; 	
				padding: 0;
				text-transform: capitalize;
			}
		}		
	}

	#sfl_map {
		margin-top:40px;
		margin-bottom:70px;
		padding-right:0;
		width: 100%;
		height: 50vh;

		@include media-breakpoint-down(md) {
			padding:0;
		}
	}


}