.this-figcaption{
	background-color: $brand-dark-grey;
    padding: 10px;
    width: 100%;
    display: block;
    color:$white;
    margin-top:30px;
    padding:10px 30px;
}


/*.single-services{
	&.bath-remodeling{
		.hero-image{
			background-image: url('../images/Bathroom-Remodeling-Hero.jpg');
			background-position: center 80%;
		}
	}

	&.interior-remodeling{
		.hero-image{
			background-image: url('../images/Interior-Remodeling-Hero.jpg');
			background-position: center;
    		h1{
    			color:$brand-primary !important;
    		}
		}
	}
	
	&.kitchen-remodeling{
		.hero-image{
			background-image: url('../images/Kitchen-Remodeling-Hero.jpg');
			background-position: center;
    		h1{
    			color:$brand-primary !important;
    		}
		}
	}

	&.safety-mobility{
		.hero-image{
			background-image: url('../images/Living-In-Place-Hero.jpg');
			background-position: center 40%;
		}
	}
}*/

.single-services main{

	a.child_gallery{
		position: relative;
		display: inline-block;
		margin: 15px 0;
		float:right;
		img { position: relative; z-index: 1}
		span { 
				position: absolute;
				z-index: 2;
				top: 0;
				left: 0;
				display: flex;
				width: 100%;
				text-align: center;
				color: #fff;
				font-weight: bold;
				text-transform: uppercase;
				height: 100%;
				background: rgba(0,0,0,0.8);
				justify-content: center;
				align-items: center;
		}
		&:hover{
			span { background: rgba(0,0,0,0) }
		}
	}
				
	.intro{
		position:relative;
		overflow: hidden;



		ul {
			margin: 30px 0;
			padding: 0 30px;
			overflow:auto;
		}

		.clearfix{
			float: none; clear: both;
		}

		.alignright { margin: 0 0 30px 30px}
		.alignleft { margin: 0 30px 30px 0}

		img { max-width: 100%; height: auto;}

		@include media-breakpoint-down(md) {
			.alignleft, .alignright { 
				margin: 30px 0;
				float: none;
				clear: both;
				width: 100%;
			}
		}	




		/*span{
			&:first-of-type{
				img{
					width:100%;
					object-fit: cover;
					height:100%;
					max-height: 300px;
					@include media-breakpoint-up(md) {
						max-height:400px;
					}
					@include media-breakpoint-up(lg) {
						max-height:600px;
					}
					
				}
			}
			&:last-of-type{
				overflow: hidden;
			    position: relative;
			    display: block;
			    margin-top:20px;
			}
		}*/
		
	}

	ul.nav.nav-tabs{
		border: none;
		margin-top:10px;
		li{
			text-decoration:uppercase;
			
			&.active a {
				border: 0 !important;
				box-shadow: 0px -3px 6px #ddd;
			}			

			@include media-breakpoint-down(md) {
				width:100%;
			}
			a{
				text-align:center;
				border: none !important;
				text-transform: uppercase;
				display: flex;
			    align-items: center;
			    justify-content: center;
			}
			img{
				width:100px;
				height:100px;
				object-fit:cover;
				margin-right:5px;
				@include media-breakpoint-down(md) {
					width:50px;
					height:50px;
				}

				@include media-breakpoint-down(sm) {
					width:20px;
					height:20px;
				}
			}
		}	
	}

	.tab-content{
		.tab-pane{
			box-shadow: 0px 0px 20px #bbb; 
			background: #fff;
			padding: 40px 30px;
			margin: 0 auto 30px auto;
			border-bottom: 5px solid $brand-primary;
			overflow: hidden;

			/**remove images in tab contents **/
			img{
				/*display:none;*/
			}

			.child_gallery img {
				display: inline-block;
			}

			h3 {
			    @extend .this-figcaption;
			}			
			
			figure{
				margin: 0 0 30px;
				position:relative;

				img{
					width:100%;
					object-fit:cover;
					object-position: top;
					display: block;
				}

			}


		}
	}

	.services-container.mobile{
		.panel-group{
			/**remove images in tab contents **/
			article p img{
				display:none;
			}
			.panel-default{
				border:none !important;
				margin-top:20px;
				a{
					&.pull-right{
						position: relative;
						 width:100%;
						img { position: relative; z-index: 1;width: 100%;object-fit: cover;}
						span { 
							position: absolute;
							z-index: 2;
							top: 0;
							left: 0;
							display: flex;
							width: 100%;
							text-align: center;
							color: #fff;
							font-weight: bold;
							text-transform: uppercase;
							height: 100%;
							background: rgba(0,0,0,0.8);
							justify-content: center;
							align-items: center;
							font-size:1.8em;
						}
						&:hover{
							span { background: rgba(0,0,0,0) }
						}
					}
					&.parent-accordion{
						display:block;
						.panel-heading{
							text-transform: uppercase;
							display:block;
							background-color:#fff; 
							border-bottom:1px solid #e1e1e1;
							border-radius:0;
							
							.panel-title{
								color:$brand-primary;
							}
						}
						&:not(.collapsed){
							.panel-heading{
								margin-top: 10px;
								border-left:0;
								border-right:0;
								border-bottom:0;
								box-shadow:none;
							}
							
						}	
					}

					.panel-heading{
						overflow:auto;

						.panel-title{
						    text-align: left;
						    width: 100%;
						    display: flex;
						    align-items:center;
						    float: right;

							img{
								height:60px;
								width:60px;
								object-fit:cover;
								margin-right:5px;
								float:left;
							}
						}
					}	
				}

				.panel-collapse{
					figure{
						margin:10px 0;

						img{
							width: 100%;
							height: 70%;
						}

						figcaption{
						    background-color: $brand-dark-grey;
						    padding: 10px;
						    width: 100%;
						    display: block;
						    color:$white;
						}
					}
					a{
						margin:10px 0;
					}

					&.collapse.in{
						border-bottom:2px solid $brand-primary;
					}
				}
			}
		}
	}

	.case-info{
		p{
			display:table;
			@include media-breakpoint-down(md) {
				display:block;
				border-bottom:1px solid #ddd;
				padding:10px 0;
			}
		}

		strong{
			display:table-cell;
			font-family: 'Open Sans';
			font-weight: 500;
			text-align: right;
			padding-right: 15px;
			@include media-breakpoint-down(md) {
				display:block;
				text-align:left;

			}
		}
		span{
			display:table-cell;
			@include media-breakpoint-down(md) {
				display:block;
			}
		}
	}

	.case-image img{
		@include media-breakpoint-down(sm) {
			margin:10px auto;
			display:block;
		}
	}
}