.post-type-archive-services main{
	h6{ 
		color:$text;
	}
	.intro{
		position:relative;
		overflow: hidden;
		
		span{
			&:first-of-type{
				img{
					width:100%;
					object-fit: cover;
					height:100%;
					max-height: 300px;
					@include media-breakpoint-up(md) {
						max-height:400px;
					}
					@include media-breakpoint-up(lg) {
						max-height:600px;
					}
					
				}
			}
			&:last-of-type{
				overflow: hidden;
			    position: relative;
			    display: block;
			    margin-top:20px;
			}

			@include media-breakpoint-down(md) {
				padding:0 ;
			}

		}
	}

	.arrows{
		text-align:center;

		@extend .hidden-sm;
		@extend .hidden-md;
		@extend .hidden-lg;
		.prev,
		.next{
			cursor:pointer;
			color: rgb(221, 221, 221);
			font-size: 3em;
			display:inline-block;
			padding: 0 50px;
			background-color:#969b9e;
			margin:0 auto;
			float:none;
			i{
				@extend .fa;
			}
		}

		.prev i{
				@extend .fa-angle-left;
		}

		.next i{
				@extend .fa-angle-right;
		}
	}
	
	figure{
		overflow:hidden;
		margin: 20px 0;
		padding-top:10px;
		padding-bottom:15px;
		
		* { transition: all 1s ease !important; }

		@include media-breakpoint-down(sm) {
			padding:0;
			margin: 10px 0;
		}

		a{
			display:block;
			color:$white;
			text-align:center;
			font-size:1.3em;
			text-transform:uppercase;
			position: relative;

			img{
				object-fit:cover;
				width:100%;
				height:200px;
				box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.6);
				padding:3px;
				position: relative;
				z-index: 1;
				@include media-breakpoint-up(sm) {
					height:300px;
				}
				@include media-breakpoint-up(md) {
					height:400px;
				}
			}					

			figcaption{
				position:absolute;
				bottom:0;
				right: 0;
				left: 0;
				width: calc( 100% - 6px);
				z-index: 2;
				background-color: rgba(67,42,113,0.7);
				padding: 20px;
				margin:3px;
				display: flex;
				align-items: center;
				justify-content: center;				

				@include media-breakpoint-down(sm) {
					position: relative;
	    			opacity: 1;
	    			left:0;
	    			right:0;

				}
			}	


			&:hover{
				img{
					box-shadow:0px 5px 10px 0px rgba(0, 0, 0, 0.6);
				}

				figcaption{
					height: calc(100% - 6px);
					margin: auto;
					width: calc(100% - 6px);
					background: rgba(67, 42, 113, 0.5);
					top: 0;

					span {
						animation: 1.5s ease-out 0s 1 fadeIn;
					}
				}
			}					
		}		


	}
}