.directions main{

	.box{
		box-shadow:0px 0px 2px 0px rgba(0, 0, 0, 0.1);
		margin-top:20px;
		figure{
			display:table;
			width:100%;
			img{
				display:table-cell;
				height:300px;
				padding-left:0;
				object-fit:cover;
				@extend .col-xs-12;
				@extend .col-sm-6;
			}

			figcaption{
				display:table-cell;
				padding:15px;
				@extend .col-xs-12;
				@extend .col-sm-6;
				h6{
						color:$text;
						font-family: 'Open Sans';
						font-weight: 700;
				}

				dl{
					margin-bottom:0;
					dt{
						display:inline-block;
						padding:5px 0;
						width:80px;
						font-family: 'Open Sans';
						font-weight: 700;
						@include media-breakpoint-up(md) {
							width:150px;

						}
					}
					dd{
						display:inline-block;
					}
				}
			}
		}

		.address{
			display:table;
			width:100%;
			background-color:#f7f8f8;
			padding:10px 0;

			@include media-breakpoint-up(md) {
				padding:10px;
			}
			h6{
				color:$text;
				font-family: 'Open Sans';
				font-weight: 700;
			}
			address{
				display:table-cell;
				@extend .col-xs-12;
				@extend .col-sm-6;

				i{
					margin-right:5px;
					@extend .fa;
					&:first-of-type{
						@extend .fa-map-marker;

					}
					&:last-of-type{
						@extend .fa-phone;
					}
				}

				h6{
					font-family: 'Open Sans';
					font-weight: 700;
				}
			}


			span{
				display:table-cell;
				@extend .col-xs-12;
				@extend .col-sm-6;

				p{
					overflow:hidden;
					margin:0;
					padding:3px;
					.btn{
							width:100%;
							display:block;
							float:left;
							font-size:1em;
							font-family:'Open Sans';
							margin-top:6px;
							text-transform:capitalize;
							padding:10px 30px;

							@include media-breakpoint-up(md) {
								width:255px;
							}

					}
				}
				
			}
		}	

		.service-areas{
			padding:30px;
			h6{
				color:$text;
				font-family: 'Open Sans';
				font-weight: 700;
			}
			p{
				color:$brand-light-grey;
			}
		}
	}
	

	.map{
		h6{
			color:$text;
		}

		padding:50px 0;

		img{
			width:100%;
		}
		#sfl_map{
			height: 60vh;
		}
	}

	.directions{
		h6{
			color:$text;
			margin:20px 0;
			font-family: 'Open Sans';
				font-weight: 700;
			font-size:1.5em;
		}

		dl{
			dt{
				margin-top:20px;
				font-family: 'Open Sans';
				font-weight: 700;
				text-transform:uppercase;
			}

			dd{
				@include media-breakpoint-up(md) {
					margin-bottom:50px;
				}
			}
		}
	}
}