.post-type-archive-events main{
	article{
		display:table;
		width:100%;
		margin:30px 0;
		height:auto;

		@include media-breakpoint-up(md) {
			height:60%;
		}

		@include media-breakpoint-up(md){

		}
		&:nth-of-type(even){
			.event-container{
				background-color:#ebebeb;

				@include media-breakpoint-up(md) {
					border-top: 1px solid #ddd;
				}
			}
		}
		figure{
			display:block;
			float:none;
			padding-right:0;
			padding-left:0;
			@include media-breakpoint-up(md) {
				display:table-cell;
			}
			img{
				width:100%;
				height:300px;
				min-height:300px;
				object-fit:cover;
				@include media-breakpoint-up(md) {
					width:100%;
					height:100%;
				}
			}
		}

		.event-wrap{
			
			width:100%;
			padding:0;
			//border:1px solid #ddd;
			border-top:0;

			@include media-breakpoint-up(md) {
				display:table-cell;
				float:none;
				padding-left:15px;
				padding-right:15px;
				border:1px solid #ddd;
				border-left:0;
				vertical-align: top;
			}
			.event-container{				
				position:relative;
				display:block;
				padding:0;
				@include media-breakpoint-up(md) {
					// position:absolute;
					// top:0;
					padding: 50px 45px 30px 30px;
					width:100%;
				}

				 @media screen and  (min-width: 768px) and (max-width: 1075px) {
					padding: 50px 75px 30px 30px;
				} 


			
				details{
					background-color:$brand-dark-grey;
					overflow:auto;
					padding:20px;
					pointer-events: none;
					@include media-breakpoint-up(md) {
						margin-right:-94px;
						overflow:hidden;
						padding:10px 30px;
					}
					&:after{
						content:"";
						width: 0; 
						height: 0; 
						border-top: 0;
						border-bottom: 60px solid transparent;
						border-left: 50px solid #101010;
						margin-right:-50px;
						margin-top:10px;
						position:absolute;
						right:0;
						display:none;
						@include media-breakpoint-up(md) {
							display:block;
						}

						@media screen and  (min-width: 768px) and  (max-width: 1075px) {
							margin-right:-19px;
							border-left: 20px solid #101010;
						}
					}
					h5{
						color:$white;
					}
					summary{
						h5{
							font-size:1.6em;
							margin-top:0;
						}
						ul{
							padding-left:0;
							li{
								color:$white;
								display:flex;
								list-style:none;
								margin:10px 0;
								span,
								i{
									color:$white;
								}
								br{
									include media-breakpoint-up(md) {
										display:none;
									}
								}
								
								span:nth-of-type(n+2){
									margin-left:23px;
									include media-breakpoint-up(md) {
										margin-left:0;
									}
								}

								&:first-of-type{
									i{
										@extend .fa;
										@extend .fa-map-marker;
										margin:0  15px 0 3px;
									}
								}

								&:not(:nth-of-type(1)){
									i{
										@extend .fa;
										@extend .fa-calendar;
										margin-right:5px;
									}

									span{
										padding:0 10px;
									}
								}
							}
						}
					}
				}


				.details-container{
					padding:10px;
					border:1px solid #ddd;
					display:block;

					@include media-breakpoint-up(md) {
						padding:30px;
						border:0;
					}

					p{
						padding:0 10px;
						@include media-breakpoint-up(md) {
							padding:10px;
						}
					}
					.cont{
						text-align:center;
					}
					.event-btn{
						border-radius:0;
						float:none;
						padding:10px 40px;
						width:100%; 
						@include media-breakpoint-up(md) {
							float:right;	
							font-size:1em;
							width:auto;
						}
					}
				}
				
			}

			
		}
	}

	.modal{
		.modal-dialog{
			-webkit-transform: translate(0, 0);
			-o-transform: translate(0, 0);
			transform: translate(0, 160px);


			@include media-breakpoint-up(md) {
				width:80%;
				margin:15% auto;

				transform: translate(0, 0);

			}
			.modal-content{
				.modal-header{
					border-bottom:0;
					button{
						font-size:1em;
					}
				}
				.modal-body{
					 .gform_wrapper .gform_footer input.button,
					 .gform_wrapper .gform_footer input[type=submit] {
					 	background-color:$brand-primary;
					 	color:$white;
					 	display:block;
					 	font-weight:700;
					 	margin:0 auto;
					 	float:none;
					 	padding:15px 40px;
					 }

					 .gform_wrapper li.hidden_label input{
					 	margin-top: 0em;
					 }

					 #field_1_10.gfield_error{
					 	text-align: center;

					 }

					 .gform_footer.top_label {
					 	width: 100%;

					 	input{
					 		
					 		width:100%;

							@include media-breakpoint-up(lg){
								width: 94%;
								margin-left: 1em !important;
								margin-right: 1em !important;
							}

							@include media-breakpoint-up(xl){
								width: 92%;
					 			margin-left: 1.8em !important;
					 		}
					 	}
					 	li.gfield {
					 		.gf_left_half{
					 			vertical-align: unset;
					 		}
					 		.gf_right_half{
					 			vertical-align: unset;
					 		}
					 	}
					 	@include media-breakpoint-up(lg){
					 		width: 50%;
					 		float: right;
					 	}
					}

					.g-recaptcha{
						@media (max-width: 365px) { 
							transform: scale(0.95);
							-webkit-transform: scale(0.95);
						}
						@media (max-width: 347px) { 
							transform: scale(0.95);
							-webkit-transform: scale(0.86);
						}
					}


					h3{
						color:$text;
						text-transform:uppercase;
						text-align:center;
						margin-top:0;
					}

					p{
						padding:10px;
						text-align:center;
					}

					hr{
						margin-top:10px;
						margin-bottom:10px;
					}

					form{
							display:block;
							overflow:hidden;

							input{
								border-radius:0;
								padding:15px;
								box-shadow:none;
								border:1px solid $brand-light-grey;
								color:$brand-light-grey;
								&:placeholder{
									color:$text;
								}
							}

							select{
								border:1px solid $brand-light-grey;
								box-shadow:none;
								-webkit-appearance: none;
							    -moz-appearance: none;
							    appearance: none;
							    background-image:url('../images/dropdown.png');
							    background-repeat: no-repeat;
								background-position: right;
								height:auto;
								padding:15px;
								color:$text;
							}

							input[type="text"] + label{
								display:none;
							}

							.btn-info{
								width:100%;
								padding:10px;
								border-radius:0;
							}
						}
			}
			}
		}
	}	


	a{
		border-radius:0;
	}
}