.post-type-archive-faqs main{
	.faq-container{
		.panel-group{
			.panel-default{
				border:none;
				box-shadow:none;
				a{
					display:table-row;

					.panel-heading{
						width:100%;
						display:table-cell;
						border:1px solid #e1e1e1;
						border-radius:5px 0 0 5px;
						box-shadow:rgba(0, 0, 0, 0.05) 0px 2px 1px 0px;
						.panel-title{
							color:$text;
							font-size:1em;
							font-weight:500;
						}
					}

					i{
						display:table-cell;
						width:65px;
						padding:15px 25px;
						background-color:#e1e1e1;
						color:$brand-primary;
						border-radius:0 5px 5px 0;
						vertical-align:middle;
						@extend .fa;
						@extend .fa-chevron-circle-up;

					}

					&.collapsed{
						.panel-heading{
							background-color:$brand-primary;
							border:none;

							.panel-title{
								color:$white;
								font-weight:100;
							}
						}

						i{
							background-color:#382261;
							color:$white;

							@extend .fa-chevron-circle-down;
						}
					}

					&.collapsed.in{

					}
				}

				.panel-collapse{
					padding:10px 0;
					@include media-breakpoint-up(md) {
						padding:30px;
					}
					.panel-body{
						border-top:none;
						padding-left:0px;
						padding-top:0;
						@include media-breakpoint-up(md) {
							padding-left:30px;
							border-left:3px solid $brand-primary;
						}

						ul{
							padding-left:15px;
							li{
								list-style: none;

								&:before {
								  content: "\f178"; 
								  font-family: FontAwesome;
								  display: inline-block;
								  margin-left: -1.3em; 
								  width: 1.3em; 
								  color:$brand-primary;
								}	
							}
						}
						
					}
				}
			}
		}
	}

	.faq-container.mobile{
		.panel-group{
			.panel-default{
				a{
					&.parent-accordion{
						display:block;
						.panel-heading{
							text-transform: uppercase;
							display:block;
							background-color:#f0f2f1; //#e1e1e1;
							border:1px solid #e1e1e1;
							border-radius:0;
							box-shadow:rgba(0, 0, 0, 0.05) 0px 2px 1px 0px;
							
							.panel-title{
								color:$brand-grey;
								font-weight:normal;
								font-size:1.2em;
							}
						}
						&:not(.collapsed){
							.panel-heading{
								border-top: 2px solid $brand-primary;
								margin-top: 10px;
								border-left:0;
								border-right:0;
								border-bottom:0;
								box-shadow:none;
								background-color:#fff;
							}
							
						}	
					}	
				}
			}
		}
	}

	h6{
		text-transform: uppercase;
		color:$brand-primary;
		font-family: 'Open Sans';
		font-weight: 500;
		margin:25px 0;
	}

	.footer-faq{
		margin:50px 0;
	}

	ul.nav-tabs{
		padding-left:0;
		display:table;
		table-layout: fixed;
		width:100%;
		margin-bottom:20px;
		border-bottom:0;
		li{
			list-style: none;
			display:table-cell;
			padding:0;
			border-radius:0;
			&:before{
				display:none;
			}

			&.active,
			&:hover{
				a:focus,
				a{
					background-color:$white;
					border-top:2px solid $brand-primary;
					border-bottom:0 !important;
				}
			}

			a{
				text-transform: uppercase;
				color:$brand-grey;
				text-align:center;
				margin:0;
				border-radius:0;
				background-color:#f7f8f8;
				border:1px solid #ccc;
				font-size:1.2em;
			}
			
		}
	}

	ul{
		padding-left:15px;
		li{
			list-style: none;

			&:before {
			  content: "\f05d"; 
			  font-family: FontAwesome;
			  display: inline-block;
			  margin-left: -1.3em; 
			  width: 1.3em; 
			  color:$brand-primary;
			  margin-right:7px;
			}	
		}
	}
}