.financing-options main{
	.offer-wrapper{
		overflow:hidden;
		margin-bottom:35px;
		ul.nav-tabs{
			border:0;
			max-height: 540px;
    		overflow-y: scroll;

			@extend .col-sm-3;

			li{
				float:none;
				border-radius:0;
				a{
					border-top: 0;
					border-left: 0;
					border-right: 0;
					border-radius:0;
					border-bottom: 1px solid #ddd;
					padding: 10px 0;
					text-transform: uppercase;
					color:$brand-primary;
					font-family: 'Open Sans';
					font-weight: 500;
				}

				&.active{
					a{
						background-color:$brand-primary;
						color:$white;
						padding-left:25px;
					}
				}
			}
		}

		.tab-content{
			
			background-image: url('../images/financial-offer-bg.png');
			background-size:cover;
			background-repeat:no-repeat;
			padding:35px;
			@extend .col-sm-9;
			@extend .col-xs-12;

			.tab-pane{
				figure{
					height: 470px;
					display: flex;
					align-items: center;
					justify-content: center;
					@include media-breakpoint-down(md) {
						flex-direction:column;
						height:auto;
					}
					img{
						max-height:470px;
						object-fit:cover;

						@include media-breakpoint-down(md) {
							width:100%;
							max-height:400px;
						}
					}

					figcaption{
						h5{
							color:$white;
							font-family:'Neuton';
							font-size:1.3em;
							border-bottom:1px solid $white;
							margin-bottom:10px;
							padding: 10px 0;
							text-transform:capitalize;
						}
						p{
							color:$white;
							&:last-child{
								margin-top: 10px;
							}
						}
					}
				}
			}
		}

		.nav-tabs,
		.tab-content{
   			height:540px;
		}
	}



	#financing-offers-accordion-mobile{
		.panel{
			border:0;

			a{
				text-align:center;
				.panel-heading{
					background-color:$brand-primary;
					margin-bottom:10px;
					border-radius:0;
					strong{
						color:$white;
						font-weight:500;
						text-transform:uppercase;
						font-size:1.2em;
					}
				}
				&.collapsed{
					.panel-heading{
						border-bottom: 1px solid #ccc;
						background-color:$white;
						strong{
							color:$brand-primary;
						}
					}
				}
			}

			.panel-collapse{
				.panel-group{
					figure{
						padding:15px 0;
						background-color:$brand-primary;
						img{
							width:100%;
							max-height:300px;
							object-fit:cover;
						}
						figcaption{
							h5{
								font-family:'Neuton';
								font-size:1.3em;
								border-bottom:1px solid $white;
								margin-bottom:10px;
								color:$white;
								padding: 10px 0;
								text-align: center;
								text-transform:capitalize;
							}

							p{
								text-align: center;
								color:$white;
								&:last-child{
									margin-top: 10px;
								}
							}
						}
					}
				}
			}
		}
	}



	small{
		border:1px solid #ddd;
		border-radius:5px;
		padding:35px;
		display:block;
		margin-bottom:65px;
	}
	
}	