.post-type-archive-portfolio main{
	.boxes{
			padding:10px 0;
			@include media-breakpoint-up(sm) {
				padding:30px;
			}
			.box{
					list-style:none;
					margin-bottom:5px;
					margin-top:5px;

					@extend .col-md-4;
					@extend .col-sm-6;

				&:hover{
					.inner-container h6{
						position:relative;
						bottom:0;
					}
				}


				.img-wrapper{
					padding:10px;
					border:1px solid #ccc;
					border-radius:5px;
				}

				.img-container{
					max-width: 100%;
				    max-height: 400px;
				    overflow: hidden;
				    
					img { 
						max-width: 100%; 
						height: auto;
						width: 100%;
					}
				}
				.inner-container{
					transition: 0.5s;
					text-align:center;
					position:absolute;
					bottom:0px;
					left:0;
					right:0;
					
					.btn{
						opacity:0;
						transition: opacity .3s linear;
						@include media-breakpoint-down(md) {
							font-size:1em;
						}

					}

					h6{
						bottom: 20px;
						position: absolute;
						left: 0;
						right: 0;
						font-family: 'Open Sans';
						font-weight: 500;
						font-size:1.5em;
						color:$white;
					}
				}

				&:hover{
					.inner-container{
						bottom:40%;
						transition:  bottom .5s;
						.btn{
							opacity:1;
							transition: opacity .5s linear;
							padding:10px 30px;
						}
					}
				}
			
			}
	}
}