.galleries-inner main{
	h6{
		color:$brand-primary;
	}
}
.gallery_container {
	overflow:hidden;
}
.recent-case-studies{
	.case-image{
		.case-gallery{
			padding-left: 0px;
			li{
				list-style: none;
				width: 33.3333333%;
				height: 80px;
				display: inline-block;
				img{
					padding: 3px;
					height: 100%;
					width: 100%;
				}
			}
		}
	}
}