.post-type-archive-glossary main{
	ul.glossary-categories{
		background-color:#f7f8f8;
		padding-left:0;
		li{
			list-style:none;
			display:inline-block;
			padding:15px 12px;
			a{
				text-transform:uppercase;
				color:$text;
				font-size:1.3em;
				&:hover,
				&:active,
				&:focus{
					color:$brand-blue;
				}
			}
		}
	}
	.panel-group{
		.panel{
			border:none;
			box-shadow:none;

			h6{
				text-transform:uppercase;
				font-family: 'Open Sans';
				font-weight: 500;
				color:$brand-blue;
				font-size:1.4em;
			}

			.panel-body{
				padding:0;
			
				strong{
					text-transform:capitalize;
					font-family: 'Open Sans';
					font-weight: 500;
					font-size:1.3em;
				}

				p{ 

					@include media-breakpoint-up(sm) {
						border-left:1px solid #ddd;
						padding-left:25px;
						margin-left:25px;
					}
					
				}
			}
		}
	}
}