.main-content{


	.code-of-values{

		padding:0;


		@extend .col-xs-12; 
		.img-container{
			background-image: url('../images/home-block-01-mobile.jpg');
			height:400px;
			background-size:cover;
			background-position:center;
			background-repeat:no-repeat;
			text-align:center;
			width:100%;

			@include media-breakpoint-up(sm) {
				background-image: url('../images/home-block-01.jpg');
			}


			.title{
				color: #fff;
				width:100%;
				padding-top:70px;
			}

			.subtitle{
				color: #fff;
				width:100%;
				padding-top:20px;
			}	
		}

		.text{
			padding:30px 20px;
		}
	}

	.reviews{
			@extend .col-xs-12;
	}

	.blog-posts{
			display:none;
			@extend .col-xs-12;


			@include media-breakpoint-up(sm) {
				display:block;
			}
		ul{
			li{
				list-style:none;
				padding:10px 50px;

				@extend .col-md-6;

				a.title{
					    font-family: 'neuton';
					    font-size: 30px;
					    text-transform: capitalize;
					    font-weight: 700;
					    letter-spacing: 1px;
				}

				a.read-more{
					color:$brand-blue;
				}

				span{
					float:right;
				}



			}
		}
	}

	.expert-help{
		background-color:$brand-primary;
		padding: 30px;
		text-align:center;

		@extend .col-xs-12;

		.title{
			color: #fff;
		}
	}

	.code-of-values-2{
		@extend .col-xs-12;
		padding: 30px;
		.title{
			color: $brand-primary;
			text-align: center;
		}

		.subtitle{
			color:$brand-blue;
			font-family:'Open Sans';
		}
	}

	.signup{
		background-image: url('../images/home-map.jpg');
		padding: 10px 30px;

		@include media-breakpoint-up(sm) {
			padding: 10px 10%;
		}

		@extend .col-xs-12;


		input[type="text"],
		input[type="email"]{
			border:0;
			padding:10px;
			font-size:25px;


			@include media-breakpoint-up(sm) {
				padding: 10px 20px;
    			font-size: 18px;
			}
		}

		.title{
			text-align: center;
			color: #fff;
		}

		form{
			p{
				max-width:100%;
				margin:0 auto;
				input{
					width:100%;
				}
			}

			br{
				display:none;
			}

			input[type="submit"]{
				@include media-breakpoint-up(lg) {
					width:100%;
				}
			}
			


		}
	}	
	
}


