.hero-image {
		max-height:16.250em;
		height:16.250em;
		background-size: cover;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #333;

	h1{
		text-align:center;
		color:$white !important;
		vertical-align:middle;
		margin:0;
		text-shadow: 0 0 5px rgba(0,0,0,0.5);
	}

	.areas-we-serve & {
		padding: 3em 2em;
		flex-direction: column;

		h1 {
			// margin-bottom: 1em;
		}

		* {
			color: #fff;
			font-family: "Neuton", serif;
			font-size: 2em;
			text-shadow: 0 0 5px rgba(0,0,0,0.5);			
		}
	}
}

.main,
.microsite{
	main .container{
		margin-top: 5.125em;
		margin-bottom:3.125em;

		img.size-full{
			@include media-breakpoint-down(md) {
				width:100%;
				height:auto;
			}
		}
	} 
}

.main{
	.hero-image{
		background-image: url('../images/hero-microsite-inner.jpg');
	}
	main{
		@media only screen and ( max-width: 576px ) {
			padding-top: 15.875em;
		}
	}
}

.microsite{
	.hero-image{
		background-image: url('../images/hero-microsite-inner.jpg');
		max-height: 25em;
    height: 25em;

		@include media-breakpoint-down(sm) {
			max-height: 16.25em;
			height: 16.25em;
		}
	}
	
	main{
		@include media-breakpoint-down(sm) {
			padding-top: 12.875em;
		}
		@media only screen and ( max-width: 600px ) {
			padding-top: 18em;
		}
		@media only screen and ( max-width: 576px ) {
			padding-top: 23em;
		}
	}
}

.blog,
.single-post{
	.hero-image{
		background-image: url('../images/hero-blog.jpg');
	}
}


.post-type-archive-case-studies,
.single-case-studies{
	.hero-image{
		background-image: url('../images/new-hero-case-studies.jpg');
		background-position: center;
	}
}

.contact-us{
	.hero-image{
		background-image: url('../images/hero-contact-us.jpg');
	}
}

.post-type-archive-services,
.single-services{
	.hero-image{
		background-image: url('../images/hero-core-services.jpg');
	}
}

.directions{
	.hero-image{
		background-image: url('../images/hero-microsite-inner.jpg');
	}
}

.post-type-archive-events{
	.hero-image{
		background-image: url('../images/hero-events.jpg');
		background-position: center;
	}
}


.post-type-archive-faqs{
	.hero-image{
		background-image: url('../images/hero-faq.jpg');
	}
}

.financing-options{
	.hero-image{
		background-image: url('../images/hero-financing-offers.jpg');
	}
}

.post-type-archive-portfolio,
.tax-portfolio_categories{
	.hero-image{
		background-image: url('../images/hero-galleries.jpg');
	}
}

.post-type-archive-glossary{
	.hero-image{
		background-image: url('../images/hero-glossary.jpg');
	}
}

.locations, .post-type-archive-location {
	.hero-image{
		background-image: url('../images/hero-locations.jpg');
	}
}

.post-type-archive-offers{
	.hero-image{
		background-image: url('../images/hero-offers.jpg');
	}
}

.our-process{
	.hero-image{
		background-image: url('../images/hero-our-process.jpg');
	}
}

.post-type-archive-team{
	.hero-image{
		background-image: url('../images/hero-our-team.jpg');
		background-position: center;
	}
}

.reviews{
	.hero-image{
		background-image: url('../images/hero-testimonials.jpg');
	}
}
.design-center-tour{
	.hero-image{
		background-image: url('../images/resource-center-banner.png');
	}
}
.resource-center{
	.hero-image{
		background-image: url('../images/new-resource-center-banner.jpg');
		max-height: 400px;
		height: 400px;

		@include media-breakpoint-down(md) {
			max-height: 16.25em;
    		height: 16.25em;
			background-position: center;
		}
	}
}
.post-type-archive-videos{
	.hero-image{
		background-image: url('../images/helpful-videos.png');
	}
}
.design-center-tour{
	.hero-image{
		background-image: url('../images/design-center-banner1.png');
		max-height: 400px;
		height: 400px;

		@include media-breakpoint-down(md) {
			max-height: 16.25em;
    		height: 16.25em;
		}
		@media only screen and ( max-width: 480px ) {
			background-image: url('../images/design-center-banner-mobile.jpg');
			background-position: center;
			margin-top: 20px;
		}
	}
}





