.post-type-archive-location main, .locations main, .single-location main {


	h6{
		font-size:2em;
	}


	select::-ms-expand {
	    display: none;
	}

	#sfl_map {
		width: 100%;
		height: 450px;
		margin: 30px 0 50px;
		border: 1px solid transparent;
	}


	h2{
		margin-bottom:10px;
		strong{
			text-transform:uppercase;
			text-align:center;
			display: block;
			font-size: 0.457em;
			font-family: "Open Sans";
			font-weight: 500;
			margin: 20px 0 12px;
			color: #332e30;
		}		
	}



	form{
		border:1px solid #ddd;
		border-radius:10px;
		box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
		margin: 0 auto 25px;
		display: block;
		overflow: hidden;
		padding:15px 25px 5px;
		background: #F7F9F8;

		p{

			&:first-of-type{
				@extend .col-lg-4;
				@extend .col-md-12;
				@extend .col-xs-12;

				@media (max-width: 520px) { 
					width:100%;
				}	
				select{
					border:0;
					box-shadow:none;
					-webkit-appearance: none;
				    -moz-appearance: none;
				    appearance: none;
				    background-image:url('../images/dropdown.png');
				    background-repeat: no-repeat;
					background-position: right;
					background-color: rgba(255,255,255,0);
					width:100%;
					height:auto;
					padding:0;
					color: #000;
					margin: -4px 0 0 0;
					font-size: 1.125em;

				}

				sup{
					color:$brand-light-grey;
					top:0;
				}
			}
			&:nth-of-type(2){
				@extend .col-lg-4;
				@extend .col-md-6;
				@extend .col-xs-12;
				@media (max-width: 520px) { 
					width:100%;
				}
				.btn{
					font-size:0.75em !important;
					float:none !important;
					padding: 15px 30px !important;
					display: block;
					width: 100%;

					@media (max-width: 520px) { 
						width:100%;
					}
					@include media-breakpoint-up(sm) {
						font-size:1.3em;
					}
					@include media-breakpoint-up(lg) {
						float:none;
					}
				}
			}
			&:nth-of-type(3){
				@extend .col-lg-4;
				@extend .col-md-6;
				@extend .col-xs-12;
				input[type="text"]{
					@extend .col-xs-7;
					padding:15px 10px;
					height:auto;
					font-size: 0.75em !important;
					color: #969b9e !important;
					border: none !important;
					outline: none !important;
					box-shadow: none !important;

					&::placeholder{
						color: #969b9e !important;
					}
				}
				button{
					@extend .col-xs-5;
					&.btn-info{
						padding:15px 30px;
					}
					font-size: 0.75em !important;
				}
			}
		}
	}

	.panel-group{
		@extend .row;

		h6{
				font-family: 'Open Sans';
				font-weight: 700;
				color:$brand-primary;
				margin-left: 15px;				
		}
		.panel{
			@extend .col-sm-6;

			&:nth-child(even){
				clear: left;		
			}		

			border:none;
			margin-top:30px;
			padding:0 15px;
			box-shadow:none;
			@include media-breakpoint-up(md) {
				margin-top:0;
				margin-bottom: 15px;
			}
			
			.panel-body{
				border:1px solid #969b9e;
				padding:10px;
				background-color:#f7f8f8;			
				@include media-breakpoint-up(sm) {
					padding:15px;
				}

				strong{
						font-size:1.6em;
					@include media-breakpoint-up(sm) {
						font-size:1.5em;
					}
				}

				.contents{
					display:table;
					width:100%;

					address{
						font-size:1.3em;
						margin-bottom:0;
						display:table-cell;
						font-weight:700;

						@include media-breakpoint-down(md) {
							
							font-size:1.2em;
						}
						 @media (max-width: 1199px) { 
						 	display:block;
						 }

						i{
							margin-right:10px;
							&:nth-of-type(2){
								color:#f7f8f8;
							}
						}
					}

					.ylwbtn{ 
						display:table-cell;
						margin-top:10px;

						@media (max-width: 1199px) { 
						 	display:block;
						 }
						&:hover{
							a{
								color:#fff;
							}
						}
						a{
							font-size: .85em;
    						    right: 45px;
   							 position: absolute;
   							 font-weight:500;
   							 color:#000;
   							 padding:10px;
   							 text-transform:capitalize;
   							 padding:8px 10px;
   							 top:55px;

   							@media (max-width: 1199px) { 
   							 	position:relative;
   							 	top:0;
   							 	right:0;
   							 	font-size: 1.2em;

   							 }
						}
					}
				}
			}
			.panel-footer{
				overflow:hidden;
				border-left:1px solid #969b9e;	
				border-right:1px solid #969b9e;	
				border-bottom:1px solid #969b9e;	
				background-color:$white;
				border-radius:0;
				padding: 15px 15px 30px 15px;

				span{
					font-size:1.3em;

					@include media-breakpoint-up(xs) {
						padding-left:15px;
						padding-right:15px;
					}

					&.collapse{
						height:60px !important;
						padding-left:15px;
						padding-right:15px;
						&.in{
							height:100% !important;
						}

						@include media-breakpoint-up(md) {
							height:64px !important;
						}
						@media (max-width: 991px) { 
							height:53px !important;
						}
						@media (max-width: 767px) { 
							height:35px !important;
						}
					}		
				}

				strong{
					font-size:1.5em;
					font-weight:500;
				}
				
				span, a{
					font-size:0.750em;
				}

				p{
				color:$brand-light-grey;
				font-size:1.5em;
					margin:0;
					@include media-breakpoint-up(md) {
						margin: 0 15px;
						font-size:1.3em;
					}
					@include media-breakpoint-up(md) {
						margin:0;
					}
					
				}

				a{
					color:$brand-primary;
				}
			}

			.btn-collapse{
				    color: #fff !important;
				    background-color: #432a71;
				    display: block;
				    text-align: center;
				    position:absolute;
				    bottom:0;
				    left:15px;
				    right:15px;
				    padding:5px;	

				    @include media-breakpoint-down(sm) {
				    	 bottom:-15px;
				    }


				    






				    &.see-more{
				    	padding:3px;
				    	background-color: #969b9e;
				    	&:before{
					    	content:"HIDE"; 
					    	font-size:1.3em;
						   	 font-weight:500;

						   	 @include media-breakpoint-down(sm) {
						   	 	font-size:1.5em;
						   	 }
					    }

					    i::before{
					    	content:"\f106";
					    	margin-left:5px;
					    	font-size:1.3em;

					    	@include media-breakpoint-down(sm) {
						   	 	font-size:1.5em;
						   	 }
					    }


				    	&.collapsed{
				    		background-color: #432a71;

					    	&:before{
						   	 content:"MORE";
						   	 font-size:1.3em;
						   	 font-weight:500;

						   	 @include media-breakpoint-down(sm) {
						   	 	font-size:1.5em;
						   	 }
						    }


						    i::before{
						    	content:"\f107";
						    	margin-left:5px;
						    	font-size:1.3em;
						    	@include media-breakpoint-down(sm) {
							   	 	font-size:1.5em;
							   	 }
						    }

						    &.default{
						    	&:before{
							    	content:"";
							    }
							    i::before{
							    	content:"";
							    }
						    }
				    	}
				     	
				    }		    
			}

			.collapse{
				display:block;
			}


		}
	}

	/* THIS IS FOR THE LOCATION ARCHIVE */
	.location-states{
		border: 1px solid #ddd;
		box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
		padding: 15px;
		margin: 15px 0;
		border-radius: 10px;

		p {
			margin: -15px -15px 15px;
			background: $brand-primary;
			color: #fff;
			font-family: 'Neuton';
			font-weight: 700;
			font-size: 2em;
		}

		ul {
			@extend .col-md-4;
			list-style: none;
			li {
				padding: 8px;
			}
		}
	}


	/* THIS IS FOR THE HMC LOCATION ARCHIVE 
	section.single{
		.cities{
			@extend .col-md-4;
		}
		.map{
			@extend .col-md-8;
		}	
	}	
	*/
}