.offer-preview main,
.single-offers main,
.post-type-archive-offers main{
	table{
		width:100%;
		tr{
			margin:30px 0;
			display:flex;
			border:1px solid #ddd;
			box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.2);
			align-content: space-around;
    flex-direction: row;
    margin: 10px auto;
			td{
				padding:15px 25px;
				flex-direction: row;
   				 margin: 10px auto;
				@include media-breakpoint-down(sm) {
					display:block;
				}

				&:first-of-type{
					width:100%;
				}
				span{
					text-transform:uppercase;
					font-family: 'Open Sans';
					font-weight: 700;
				}

				.btn-info{
					border-radius:0;
					font-weight:100;
					width:100%;	
					@include media-breakpoint-up(sm) {
						width:auto;
					}
				}

				.modal-field{
					display:none;
				}
			}
		}
	}

	.modal{
		z-index: 99999;
		.modal-dialog{
			-webkit-transform: translate(0, 0);
			-o-transform: translate(0, 0);
			transform: translate(0, 160px);

			@include media-breakpoint-up(sm) {
				width:80%;
				margin:200px auto;
			}

			@include media-breakpoint-up(sm) {
				transform: translate(0, 0);
			}
			
			.modal-content{
				.modal-header{
					border-bottom:0;
					button{
						font-size:1em;
					}
				}
				.modal-body{

					.gform_wrapper li.hidden_label input{
					 	margin-top: 0em;
					 }

					h3{
						color:$text;
						text-transform:uppercase;
						text-align:center;
						margin-top:0;
					}

					.header-text{
						border:1px solid #ddd;
						padding:30px;
						margin-bottom:1em;
					}

					i{
						text-align:center;
						margin-top:20px;
						display:block;
					}

					span label{
						display:none;
					}

					input[type="submit"]{
						@extend .btn-primary;
						@extend .btn;
						//width:300px !important;
					}

					input{
							border-radius:0;
							box-shadow:none;
							border:1px solid $brand-light-grey;
							color:$brand-light-grey;
							&:placeholder{
								color:$brand-light-grey;
							}
						}

					input[type="text"]{
						padding:15px;
					}

					.btn-info{
						border-radius:0;
						padding:20px;
					}

					.btn-primary{
						width:100%;
					}

					.gform_footer.top_label {
					 	width: 100%;

					 	input{				 		
					 		width: calc(100% - 2em);	
					 	}
					}
						
				}
				.modal-footer{
					p{
						overflow: hidden;
						text-align:left;
						background-color:#F7F9F8;
						padding:20px;
						@include media-breakpoint-up(sm) {
							padding:50px;
						}
					}
					a{
						float:left;
						padding:10px 30px;
						margin:10px 0;
						width:auto;
						@include media-breakpoint-down(md) {
							display:block;
							width:100%;
						}
					}
				}
			}		
		}
	}	
}