.post-type-archive-team main, .our-team main{

	.team-container{
		padding:50px 0;
		margin-bottom: 30px;
		overflow: hidden;
		figure{
			padding-right:0;
			height:450px;
			z-index:10;

			@include media-breakpoint-down(md) {
				padding-left:0;
			}

			&:hover{
				.details-wrap{
					display:inline-block;
					top:0;
				}
			}
			img{
				width:100%;
				height:450px;
				object-fit: cover;
				@include media-breakpoint-down(sm) {
					object-fit: contain;
				}
				@include media-breakpoint-down(xs) {
					object-fit: cover;
				}

			}
			.details-wrap{
				width:100%;
				height:100%;
				position:absolute;
				left:0;
				padding-left:15px;
				display:none;
				
				@include media-breakpoint-down(md) {
					padding-left:0;
				}
				.details{
					background-color:rgba(0,0,0, .2);
					height:100%;
					text-align:center;
					display:block;

					.middle{
						top: 50%;
						transform: translateY(-50%);
						position: absolute;
						left: 0;
						right: 0;
						color:$white;

						a{
							color:$white;
						}
						i{
							color:$brand-yellow;
							padding: 0 10px;
						}
					}
				}
			}

			figcaption{
				color:$white;
				background-color: rgba(67, 42, 113, 0.8);
				padding:15px;
				position: absolute;
				bottom: -40px;
				left: 0;
				right: 0;
				width: 200px;
				margin: 0 auto;
				@include media-breakpoint-up(md) {
					bottom: -50px;
				}
				h6{
					color:$white;
					text-align:center;
					margin:0;
					font-weight: 500;
					&:first-of-type{
						font-family: 'Open Sans';
						font-weight: 500;
					}

				}

				hr{
					color:$white;
					margin-top:10px;
					margin-bottom:10px;

				}
			}
		}

		.bio-container{
			padding-left:0;
			height:450px;
			position: relative;
			display:table;
			@include media-breakpoint-down(sm) {
				height:auto;
				padding:0 2px;
			}
			.bio{
				display:table-cell;
				vertical-align:middle;
				width: 100%;
    			margin-right: 10px;

    			@include media-breakpoint-down(sm) {
    				position:relative;
    				transform:none;
    				box-shadow: 1px 0px 4px 1px rgba(0, 0, 0, 0.2);
    				padding:50px 10px 10px 10px;
    			}

				h6{
					color:$text;
					font-weight:500;
				}
				p{
					word-wrap:break-word;
				}

				.bio-inner{
					padding:30px 30px 30px 40px;
					background-color:#F7F9F8;
					box-shadow:3px 0px 4px 1px rgba(0, 0, 0, 0.2);
				}
			}
		}
	}
}