.our-process main{

	.process-list{
		div{
			
			padding:10px;
			@include media-breakpoint-up(lg){
				padding:50px 0 150px 0;
			}
			&:nth-of-type(even){
				

				figure{
					@include media-breakpoint-up(lg) {
						padding-right:200px;
					}

				    img{
				    	right:0;
				    }

				    figcaption{
				    	@include media-breakpoint-up(lg) {
				    		padding:12px 80px 12px 20px;
				    	}
				    }

				    font{
						display:inline-block;
						width:95%;
					
						color:$brand-dark-grey;
						@include media-breakpoint-up(lg) {
							margin-left:10px;
						}
				    }
				}
			}

			&:nth-of-type(odd){
				background-color:#f7f8f8;
				figure{
					@include media-breakpoint-up(lg) {
						padding-left:200px;
					}

				    img{
				    	left:0;
				    }

				    figcaption{
				    	@include media-breakpoint-up(lg) {
				    		padding:12px 20px 12px 80px;
				    	}
				    }

				    font{
				    	@include media-breakpoint-up(lg) {
					    	margin-left:40px;
					    }
				    }
				}
			}

			figure{
				position:relative;
				padding-top:90px;
				@extend .container;
				@include media-breakpoint-up(lg) {
					padding-top:30px;
				}

				img{
					width:150px;
					height:150px;
					border-radius:50%;
					z-index:3;
					box-shadow:4px 1px 14px 0px rgba(0, 0, 0, 0.5);
					position:absolute;

					@include media-breakpoint-down(md) {
						left:0;
						right:0;
						margin:0 auto;
						top:0;
					}

					/*@include media-breakpoint-up(lg) {
						width:245px;
						height:245px;
						display:inline-block;
				    }*/

					@include media-breakpoint-up(lg) {
						width:260px;
						height:260px;
						top: 20%;
				    }
				}

				figcaption{
					color:$text;    			
				    margin: auto;
				    text-align: left;
					box-shadow:4px 1px 14px 1px rgba(0, 0, 0, 0.5);
					padding:30px;

				    .title{
				    	font-size:1em;
				    }

				    h6{
				    	color:$text;
				    	text-transform:uppercase;
				    	@media (max-width: 1200px) and (min-width: 992px)  {
							font-size:.9em;
						}
				    }

				    p{
				    	@include media-breakpoint-up(lg) {
							font-size:1em;
						}
						@media (max-width: 1200px) and (min-width: 992px)  {
							font-size:.9em;
						}
				    }

				}

				font{
					font-size:2.5em;
					font-family: 'Open Sans';
					font-weight: 900;
					color:$brand-primary;
					text-align:left;
					@include media-breakpoint-up(lg) {
						font-size:3.5em;
					}
				}
			}
		}
	}

	

	.intro{
		overflow:hidden;
		margin-bottom:50px;

		.intro-txt{
			h6{
				color:$text;
				color:$brand-primary;
			}
		}
		img{
			height:200px;
			object-fit:cover;
		}

		h2{
			padding:0 15px;
			color:$brand-primary;
		}


		.processlist{
			padding-left:0;

			a{
				color:$white;
				display:block;
				font-size:1.10em;
					padding: 10px;
					text-transform:uppercase;
					text-align: center;
					font-family: 'Open Sans';
					font-weight: 700;
					margin:10px 0;

				&:nth-of-type(odd){
					background-color:$brand-primary;
				}

				&:nth-of-type(even){
					background-color:$headings-color;
				}
			}
		}
	}
}

.our-process .container-fluid{
	padding:0;
}
