.tax-portfolio_categories, .single-portfolio{
	.container{
		margin-top:3.125em;
		margin-bottom:3.125em;
	}
	h6{
			font-family: 'Open Sans';
			font-weight: 500;
			color:$text;
			font-size:1.5em;
		}

	.gallery_container {
		padding:50px 0;
		img{
			height: 300px;
			width: 100%;
			object-fit: cover;
		}


		.slick-list{
			.slick-slide{
				padding:0 10px;

				&:hover{
					.img-container{
						background-color:#000;
						position:relative;
						a{
							display: block;
							width:100%;

							&:after{
								@extend .fa;
								content:"\f00e";
								position: absolute;
								color: $white;
								top: 0;
								width: 100%;
								margin: 0 auto;
								text-align: center;
								line-height: 6em;
								font-size: 3em;
							}
						}
					}

					img{
						opacity:0.6;
					}
				}
			}
		}
	}
	.arrows{
		    margin: 0 auto;
		    float: none;
		    display: block;
		    text-align: center;
		    .prev,
			.next{
				cursor:pointer;
				i{
					@extend .fa;
					color:$brand-primary;
				    font-size: 1.5em;
					padding: 15px 40px;
				    border: 5px solid white;
				    background-color: #f7f8f8;
				    box-shadow: 1px 0px 5px 0px #ddd;
				}
			}

			.prev i{
					@extend .fa-chevron-left;
			}

			.next i{
					@extend .fa-chevron-right;
			}
	}

	
}