.reviews main {
	.hero-image {
		margin:0;
	}

	ul {
		padding-left:0;
		li{
			list-style:none;
			display:inline-block;

			@extend .col-xs-12;
			@extend .col-sm-6;
			@extend .col-md-3;

			@include media-breakpoint-down(sm){
			padding-left:0;
			padding-right:0;
			}

			&:first-of-type{
				@include media-breakpoint-up(lg){
					padding-left:0;
				}
				
			}
			&:last-of-type{
				@include media-breakpoint-up(lg){
					padding-right:0;
				}
			}
			a{
				color:$white;
				text-transform:uppercase;
				font-family: 'Open Sans';
				font-weight: 500;
				padding:15px;
				background-color:$headings-color;
				margin:5px;
				width:100%;

				&:hover{
					color:$white;
				}
			}
		}
	}

	section {
		@extend .col-xs-12;
		padding-left:0;
		padding-right:0;

		.stars{
			i.fa-star{
				color:$brand-yellow;
			}
		}

		&.guild {
			margin:30px 0;
			.fa-star{
				margin:0 3px;
			}
			
			p{
				padding-left:0;
				margin:10px 0;
			}

			figure{
				padding:20px;
				box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 12px 3px;
    			background-color: #f7f8f8;

    			@extend .col-xs-12;
    			@extend .col-sm-6;
    			@extend .col-sm-push-6;
    			img{
    				margin: 0 auto;
					display: block;
    			}
    			figcaption{
    				margin: 10px auto;
					display: block;

					span,
					h6,
					small{
						display:block;
						text-align:center;
					}

					h6{
						color:$text;
					}
					small{
						color:$brand-grey;
						font-style:italic;
						font-size:1em;
					}
    			}
			}
			.entry{
				padding:20px 0;
				border-bottom:1px solid #ddd;
				margin:10px 0;

				>div{
					padding:0;
				}
				&:first-of-type{
					border-top:1px solid #ddd;
				}

				.stars{
					float:right;
				}

				.quote{
					color:$brand-grey;
					font-weight:700;
					&.quote{
						font-size:3em;
					}
				}

				strong{
					font-family: 'Open Sans';
					font-weight: 700;
					font-size: 1.1em;
				}
				i{
					font-size: 1.1em;
				}

				p{
					color:$brand-grey;
					line-height:1.5em;
					margin-top:20px;
					i{
						font-size:3em;
					}
				}

				.btn{
					color:$brand-blue;
					text-transform: uppercase;
					@include media-breakpoint-down(sm){
						font-size:1em;
					}

				}
			}

			span{
				padding-left:0;
				padding-right:0;

				.read-more{
					margin-top:20px;
					width:100%;
					padding-left:0;
					padding-right:0;
					background-color:$brand-blue;
					color:$white;
					font-weight:700;
					font-size: 1.2em;
				}
			}
		}

		&.feedback {
			h6{
				color:$text;
			}
			.guild-quality-map {
				height: 485px;
			    padding: 10px;
			    background: #f7f9f8;
			}

			form{
				fieldset{
					&:nth-of-type(odd){
						padding-left:0;
					}
					&:nth-of-type(even){
						padding-right:0;
					}

					@include media-breakpoint-down(sm){
						padding-left:0;
						padding-right:0;
					}

					input,
					select,
					textarea{
						border-radius:0;
					}

					.btn{
						border-radius: 0;
						padding: 10px 30px;
						border:2px solid $brand-primary;
						&.btn-info{
							float:right;
						}

						@include media-breakpoint-down(sm){
							float: none;
							margin: 0 auto;
							display: block;
							width: 100%;
							margin:0 10px;
						}
					}

				}
				
			}
		}

		&.wordpress {
			.create-review{
				border-radius:0;
				background-color:$headings-color;
				color:$white;
				padding:10px 30px;
				@media only screen and (max-width: 450px){
					width:100%;
				}
			}
			h6{
				color:$text;
			}

			.fa-star{
				color:$brand-golden-yellow !important;
			}

			.entry{
				    
				    border-bottom: 1px solid #ddd;

				    @include media-breakpoint-up(md){
				    	padding: 30px 0;
				    }
				div{
					padding:10px 0;

					@include media-breakpoint-up(md){
						padding:10px;
					}
					&:first-of-type{
						border-bottom:5px solid $brand-primary;
						@include media-breakpoint-up(md){
							border-bottom:0;
							border-right:5px solid $brand-primary;
						}
						img, span{
							height: 100%;
							width: auto;
							margin:0 auto;
							display:block;
							float:none;
							text-align:center;
						}
						img{
							margin:10px auto;
							height:80px;
						}

						span:first-of-type{
							color:$brand-primary;
						}
					}

					&:last-of-type{
						padding:10px 0;
						@include media-breakpoint-up(md){
							padding:0 20px;	
						}
					}


					strong{
						color:$brand-primary;
						margin:10px 0;
						display:block;
						font-weight:700;
					}
				}
			}

			ul{
				padding:40px 0;

				li{
					width:auto;
					padding:5px;
					&:first-of-type{
						.btn{
							background-color:$brand-primary;
							color:$white;
							font-family:'Open Sans';
						}
					}
					.btn{
						border:1px solid $brand-primary;
						background-color:$white;
						color:$brand-primary;
						padding: 8px 20px;
		    			border-radius: 10px;
						&:focus, 
						&:active{
							background-color:$brand-primary;
							color:$white;
						}

						@include media-breakpoint-down(md){
							font-size:1em;
							padding: 8px 10px;
						}
					}
				}
			}	
		}

		&.yextWrap {
			h6 {
				color:$text;
			}

			.reviews-widget-wrapper {
				.yext-reviews-page {
					margin: 2em 0 !important;
					display: table;
					width: 100% !important;
				}

				.review {
					width: calc(100% - 30px) !important;
				}

				.review-body {
					border: 1px solid #ddd !important;
					border-radius: 8px;
					padding: 1em !important;
					background: #eee;

					.review-author {
						display: block !important;
					}
				}					

				.review-separator,
				.review-footer {
					float: none;
					clear: both;
				}
			}
		}		
	}

	#create-review {
		h6 {
			margin-left: 15px;
		}
	}

	.gform_wrapper {
		.rating-stars input {
			display:none;
		}
		.gfield {
			@extend .form-group;
			@extend .col-xs-12;
			@extend .col-sm-6;
			display: inline-block;
    		float: none;
    		margin:0;

			label {
				display:none;
			}

			input, textarea {
				@extend .form-control;
				border-radius: 0;
			}

			textarea {
				height: 5em;
			}
			
		}

		.gform_footer {
			input[type="submit"] {
				@extend .btn;
				@extend .btn-info;
				padding: 10px 30px;
				border-radius: 0;
			}
		}

		.rating-container {
			@extend .form-group;
			@extend .col-xs-12;
			@extend .col-sm-6;
			display: inline-block;
    		float: none;
    		margin-bottom: 5px;
    		margin-top: -15px;

    		.clear-rating {
    		    margin-top: -10px;
    			font-size: inherit;
    		}

    		.fa-lg {
    			font-size: 15px;
    		}

    		@include media-breakpoint-down(md){
    			margin-top: 0;
    		}
		}

		li.kv-ltr-theme-fa-star {
			position: absolute;
		} 
	}
}
