.search{
	.search-wrapper{
		margin: 0 -15px;
		padding: 0;
		list-style: none;

		li{ 
			float:none;
			clear: both;
			display: table;
			margin: 15px 0;
			padding: 15px;			
		
			&:nth-child(even){
				background: #eee;
			}

			article {
				@extend .col-sm-9;
				@extend .col-xs-12;			
			}
			article + figure {
				@extend .col-sm-3;
				@extend .col-xs-12;
				
				img {
					margin: 0;
					max-width: 100%;
					height: auto;
				}			
			}
		}
	}

	.page-numbers {
		@extend .btn;
		@extend .btn-info;
	}
}

