.single-post main{
	.page-links{
		span > a{
			@extend .btn;
			@extend .btn-info;

			.text{
				display:none;
				@include media-breakpoint-up(sm) {
					display:inline-block;
				}
			}	
		}

		.single-prev{
			float:left;
		}

		.single-next{
			float:right;
		}

		.btn-info{
			padding:15px;
			border-radius:0;
			margin:40px 0;
			a{
				color:$white;
			}

			i{
				padding:0 5px;
			}
		}		
	} 
	
	.recent-posts{
		border-top:1px solid #ddd;
		width: 100%;
		float: left;

		strong{
			float: left;
			display: block;
			width: 100%;
			margin:10px 0;
		}

		span{
			background-color:$brand-dark-grey;
			padding:35px;
			

			@include media-breakpoint-down(sm) {
				margin:10px auto !important;
			}

			&:nth-of-type(odd){
				@extend .alignleft;		
			}
			&:nth-of-type(even){
				@extend .alignright;		
			}

			h6, p{
				color:$white;
			}

			p{
				@include media-breakpoint-up(md) {
					height:160px;
					overflow:hidden;
				}
			}
		}
	}

	.entry-header{
		h2{
			color:$text;
			font-family: 'Open Sans';
			font-weight: 700;
			font-size:1.5em;
		}
	}

	.entry-content{
		.featured-img img{
			width: 100%;
			height: 200px;
			object-fit: cover;

			@include media-breakpoint-up(md) {
				height: 600px;
				
			}
		}

		.content{
			display:block;
			overflow:auto;

			img{
				max-width:100%;
			}
		}
	}

	.entry-footer{
		background-color:$white;
		border-top:1px solid #ddd;
		border-bottom:1px solid #ddd;
		padding:10px 0;

		> span{
			display:block;
			margin:5px 0; 
			@include media-breakpoint-up(sm) {
				display:inline-block;
				margin:0;
			}

		}

		
		.cat-tags-links{
			.cat-links{
				margin:10px 0;
				@include media-breakpoint-up(sm) {
					margin:0;
				}
				i{
					margin-right:10px;
				}
			}
		}

		.blog-share{
			float:none;
			display:block;
			@include media-breakpoint-up(sm) {
				float:right;
			}
			ul{
				padding-left:0;
				display:inline-block;
				margin-bottom:0;
				li{
					display:inline-block;
					list-style:none;
					margin:0 5px;
					i{
						color:$brand-grey;
					}
				}
			}
		}
	}
	.post-links{
	    width:100%;
	    overflow: auto;
		margin: 10px 0;
		@include media-breakpoint-up(sm) {
			margin: 50px 0;
		}
	    span{
	    	background-color: $brand-primary;
		    padding: 10px 20px;
		    text-transform: uppercase;
		    font-family: 'Open Sans';
			font-weight: 700;
		    display:inline-block;

		    &.next{
		    	float:right;
		    	i{
		    		margin-left:10px;
		    	}
	    	}

	    	&.prev{
		    	float:left;
		    	i{
		    		margin-right:10px;
		    	}
		    }
	    }
	    
	    a,i{
	    	color:$white;
	    }
	}	
}