.thank-you main,
.reviews-thank-you main,
.campaignsty_page{
	background-image: url('../images/404-bg.jpg');
	background-size:cover;
	

	.container{
		padding:60px 0;
		margin-top:-0 !important;
		margin-bottom:0 !important;

		@include media-breakpoint-down(md) {
			padding-left:15px;
			padding-right:15px;
		}

		h1,h2,h3,p{
			color:$white;
		}

		h1{
			text-align:center;

			span{
			border-bottom: 1px solid white;
			width: 300px;
			height: 1px;
			display: block;
			margin: 20px auto;
			}
		}

		a{
			color:$white;
			text-decoration:underline;
		}

		img{
			@include media-breakpoint-down(sm) {
				width:100%;
			}
		}


	}
}