.video_list {
	// @extend .row;

	margin: 2em 0;
	padding: 0;
	list-style: none;
	float: none;
	clear: both;

	li {
		@extend .col-md-4;
		padding-bottom: 2em;
	}
}

#load_more_ytvids {
	border-bottom: 3px solid $brand-grey;
}