footer.site-footer{
	background: #332f30; 
	color: #fff;
	font-size: 1em;
	padding: 1.875em 0 0;
	margin-bottom: 0;

	.btn-link{
		padding-left: 2em;
		padding-right: 2em;
		border-radius:3px;
		&.smaller{
			font-size:1em;
		}
	}


	p.copyright{
		background: $brand-grey;
		padding: 1.5em;
		text-align: center;
		font-size: 0.75em;
		margin: 0;
	}

	figure{
		position: relative;
		img {
			max-width: 210px;
		}
		figcaption{
			position: absolute;
			margin-top: 8px;
		}
		@include media-breakpoint-down(md) {
			text-align: center;
			figcaption{
				position: static;
				text-align: center;
			}
		}			
	}


	a {
		color: #fff;

		&:hover{
			color: $brand-yellow;
		}
	}

	.newsletter, .footer-social {
		@extend .col-lg-2;
		@extend .col-md-3;
		margin-bottom: 22px;
	}

	.new-grid {
		@extend .col-lg-8;
		@extend .col-md-6;		
		@extend .row;


		@include media-breakpoint-down(md) {
			padding-left: 0 !important;
		}			

		.footer-nav {
			@extend .col-lg-3;
			@extend .col-md-4;	
			margin-bottom: 22px;
		}		

		address {
			@extend .col-lg-6;
			@extend .col-md-4;
			margin-bottom: 22px;		
		}				
	}

	h4 {
		color: #fff;
		margin: 0 0 .5em;
		padding: 0;
		text-transform: uppercase;
		font-size: 1.3em;
	}

	.footer-nav{
		ul{
			margin: 0;
			padding: 0;
			list-style: none
		}
		@include media-breakpoint-down(md) {
			margin-bottom: 30px;
		}	
	}

	address{
		a {
			word-break: break-all;
		}
	}

	.newsletter{
		padding-top: 3em;
		padding-left: 0;

		p{
			max-width: 250px;
		}

		@include media-breakpoint-down(md) {
			padding-left: 15px;
			text-align: center;
			margin-bottom: 30px;
			p { max-width: 100%; }
		}			
	}

	& .footer-main, & .footer-microsite{
		border: 1px solid red;
		margin-bottom: 10px;
	}

}

section.badges{
	background-color:#f7f7f7;
	text-align: center;
	padding: 30px 0;

	ul{
		padding:0;

		li{
			display:inline-block;
			list-style:none;
			padding: 20px;
		}
	}
	
	img{
		max-width: 120px;
		height: auto;
		display:inherit;
		margin:0 auto;
	}

}

footer.campaigns-footer{
	background:$brand-primary;
	.row{
		display:flex;
		padding:0 60px;

		@media only screen and ( max-width: 480px ) {
			padding:0 10px !important;
			display:block;
		}
		figure{			

			figcaption{
				position:relative;

				.ccorp{
					max-width:300px; 
					padding:10px 0;  
					line-height:1em; 
					margin-bottom:10px;

					@include media-breakpoint-down(md) {
						max-width:100%; 
					}

					small{
						font-size:.7em; line-height:1em;
					}
				}
			}
		}

		address{
			text-align:right;
			flex:1;

			@include media-breakpoint-down(md) {
				flex:none;
			}
			@media only screen and ( max-width: 480px ) {
				text-align:center;
			}
			
		}
	}
	p.copyright{
		background:$campaign-yellow;
		color:$text;
	}

	.phone{
		strong{
			color:$campaign-yellow;
		}

		.fa-phone{
			color:$campaign-yellow;
			font-size:1.3em;
			vertical-align: sub;
			margin-right:5px;
		}

		a{
			color:$campaign-yellow;
		}
	}
}

