/** Microsite Specific Nav */
.microsite{
	@include media-breakpoint-down(lg) {
		.scrolledDown header.site-header #header_nav #navbar .navbar-nav,
		.scrolledDown header.site-header #header_nav .navbar-right {
			margin-top: 0.6em !important;
		}	

		header.site-header #header_nav #navbar .navbar-nav,
		header.site-header #header_nav .navbar-right {
			margin-top: 0.9em !important;
		}

		header.site-header #header_nav .navbar-right .btn{
			margin-top: 0.9em !important
		}

	}	


	@media only screen and ( max-width: 1120px ) and ( min-width: 921px) {
		header.site-header #header_nav #navbar .navbar-nav > li a{
			padding: 10px 5px;
			font-size: .9em;
		}
	}

	@media only screen and ( max-width: 950px ) {
		header.site-header #header_nav #navbar .navbar-nav > li a{
			padding: 5px;
		}

		header.site-header #header_nav .navbar-header img{
			max-width: 150px;
		}
	}

	@media only screen and ( max-width: 810px ) {
		header.site-header #header_nav #navbar .navbar-nav > li a{
			font-size:.89em;
		}
	}
	
	@media only screen and ( max-width: 767px ) {
		header.site-header #header_nav #navbar .navbar-nav > li a{
			font-size:1em;
		}
		header.site-header #header_nav .navbar-right .btn {
			margin-top: 0 !important;
		}

		header.site-header #navbar > #menu-primary-menu > li{
			&[data-toggle=open] ul { top: 10em; }
			.menu_close { margin-top: 0px !important}
		}	

		&.template-campaign-kitchen_bath header.site-header #header_nav #navbar .navbar-nav{
			margin-top: 0 !important;
		}

	}
	@media only screen and ( max-width: 750px ) {
		header.site-header #header_nav #navbar{
			width:100%;
			float:none;
			clear:both;
		}

		header.site-header #header_nav #navbar .navbar-nav > li a{
			padding: 0 10px !important;
			font-size:1.2em;
		}
	}

	@media only screen and ( max-width: 580px ) {
		header.site-header #header_nav #navbar .navbar-nav > li a{
			padding: 0 10px !important;
		}
	}

	@media only screen and ( max-width: 530px ) {
			header.site-header #header_nav #navbar .navbar-nav > li a{
				padding:0 5px !important;
				/*font-size:1em;*/
			}
	}

	@media only screen and ( max-width: 480px ) {		
		.menu_close { margin-top: 15px !important}
		header.site-header #header_nav #navbar .navbar-nav > li a{
			font-size:1.1em;
		}
	}	

	@media only screen and ( max-width: 450px ) {
		header.site-header #header_nav #navbar .navbar-nav > li a{
				font-size:1em;
			}
	}
	@media only screen and ( max-width: 415px ) {
		header.site-header #header_nav #navbar .navbar-nav > li a{
				font-size:.9em;
			}
	}
	@media only screen and ( max-width: 380px ) {
		header.site-header #header_nav #navbar .navbar-nav > li a{
				font-size:.72em;
		}
	}
	@media only screen and ( max-width: 360px ) {
		&.template-campaign-kitchen_bath header.site-header #header_nav #navbar .navbar-nav{
			margin-top: 0.9em !important;
		}
	}
	
}

.hidden_field{
	display: none !important;
}

.remodeling-guide-download{
	#topmost_microsite address {
		text-align: left !important;
		width: 50% !important;

		@media only screen and ( max-width: 1470px ) and ( min-width: 1200px) {
			float: left !important;
		}
	}
}

/** END Microsite Specific Nav */

.homepage{
	header.site-header #header_nav{
		padding-bottom:10px;
		overflow: visible;
	}
}

/** Main Site Nav */

header.site-header {
	position: fixed;
	z-index: 9999;
	width: 100%;
	margin-top: 0;
	//border-bottom: 1px solid red;

	//fixed nav stuffs
	.scrolledDown & {

			box-shadow: 0 0 15px rgba(0,0,0,0.8);

			#header_nav{
				padding-top: 0;
				padding-bottom: 0;

				.navbar-brand em {
					display: none;
				}

				&.campaign-navbar{
					padding-top: 10px;
					padding-bottom: 10px;
				}
			}

	}
	.scrolledUp & {
			//position: relative;
	}	

	#topmost_main{
		background: $brand-primary;
		@include media-breakpoint-down(sm) {
			background: #fff;
		}			

		form {
			//@extend .col-xl-4;
			@extend .col-lg-4;
			@extend .col-md-6;
			@extend .col-sm-6;
			@extend .col-xs-6;
			@extend .col-lg-offset-4;
			@extend .col-md-offset-0;
			@extend .col-sm-offset-0;

			@media only screen and ( max-width: 1470px ) and ( min-width: 1200px) {
				width: 50% !important;
				margin-left: -30px !important;
			}			

			text-align: center;

			@include media-breakpoint-down(sm) {
				text-align: left;
				p{
					background: transparent !important;
				}	
				.btn {
					padding-top: 2px;
					padding-bottom: 2px;
					border: none;
					text-transform: uppercase;
					position: relative;
					top: 5px;
				}
			}				

			input[type=text]{
				margin: 0 7px 0 14px;
				padding: 7px 11px;
				border: none;
				border-radius: 8px;
				width: 130px;
				font-size: 0.813em;
				@include media-breakpoint-down(sm) {
					display: none;
				}	
			}

			p { 
				background: $brand-yellow;
				margin: 0 auto;
				padding: 6px 8px;
				display: inline-table; 
				@include media-breakpoint-down(lg) {
					display: block;
					margin-left: -30px;
					margin-right: -30px;
				}	
				@media only screen and ( max-width: 1470px ) and ( min-width: 1200px) {
					width: 100%;
				}									
			}

			button:not(.myLocation){
				margin: 0;
				padding: 0;
				border: none;
				background: transparent;

				.fa {
					position: relative;
					top: 3px;
				}				
				&:hover .fa {
					color: $brand-primary;
					animation:  1s ease-out 0s infinite pulse;
				}				
				@include media-breakpoint-down(sm) {
					display: none
				}					
			}

		}

		p.give-a-call{
			@extend .col-lg-4;
			@extend .col-md-6;
			@extend .col-sm-6;
			@extend .col-xs-6;
			text-align: right;	
		}	
	}

	#topmost_microsite{
		background: $brand-primary; 
		@include media-breakpoint-down(sm) {
			background: #fff;
		}				

		p.directions{
			@extend .col-sm-6;
			@extend .col-xs-6;			
			display: none;

			.btn {
				padding-top: 2px;
				padding-bottom: 2px;
				border: none;
				text-transform: uppercase;
				position: relative;
				top: 12px;
				margin-left: -20px;
			}			

			@include media-breakpoint-down(sm) {
				display: block;

			}	
		}

		p.give-a-call {
			@extend .col-lg-6;
			@extend .col-md-4;
			@extend .col-sm-4;
			@extend .col-xs-4;
			//@extend .col-lg-offset-4;
			//@extend .col-md-offset-0;
			text-align: left;

			@include media-breakpoint-down(lg) {
				text-align: left;
			}	
			@include media-breakpoint-down(md) {
				text-align: left;
				margin-left: -15px;
				margin-right: 15px;
			}			
			@include media-breakpoint-down(sm) {
				float: right;
				text-align: right;
				margin-left: 0;
				margin-right: 0px;				
				white-space: nowrap !important;
				width: 50% !important;			
			}						
		}	

		address {
			@extend .col-lg-6;
			@extend .col-md-8;
			@extend .col-sm-8;
			@extend .col-xs-8;
			text-align: right;

			@media only screen and ( max-width: 1470px ) and ( min-width: 1200px) {
				float: right;
			}
				
			@include media-breakpoint-down(md) {
				padding-right: 0;
			}	
			@include media-breakpoint-down(sm) {
				display: none;
			}

			i{
				margin-right:5px;
			}					
		}			
	}	


	p.give-a-call, address{
		color: #fff;
		font-size: 1.125em;
		line-height: 2.7em;

		@media only screen and ( max-width: 1470px ) and ( min-width: 1200px) {
			width: calc(50% - 30px) !important;
			margin-left: 0 !important;
		}	

		@include media-breakpoint-down(lg) {
			font-size: 1.125em;
		}			

		@include media-breakpoint-down(md) {
			font-size: 1em;
		}				

		@include media-breakpoint-down(sm) {
			font-size: 1.125em;
		}					

		margin: 0; padding: 0;		
		a {
			color: #fff;
			font-family: 'Open Sans';
			font-weight: 500;
			&:hover {
				color: $brand-yellow;
			}
		}


		@include media-breakpoint-down(sm) {
			span { display: none }
			a{
				color: $brand-primary;
				font-family: 'Open Sans';
				font-weight: 900;
				&:before { 
					content: "\e182"; 
					font-family: 'Glyphicons Halflings';
					position: relative;
					top: 2px;
					left: -5px;
				}
			}
		}			
	}

	#header_nav {
		border-color: transparent !important;
		padding-top: 25px;
		padding-bottom: 30px;
		font-size: 1.125em;
		background: #fff;
		margin-bottom: 0 !important;
		border-radius: 0 !important;

		@include media-breakpoint-down(lg) {
			font-size: 1em;
		}	
		@include media-breakpoint-down(md) {
			padding-top: 0;
			padding-bottom: 0;

			.navbar-toggle{
				margin-left: 5px;
				position: relative;
				top: 17px;
			}
		}

		@media only screen and ( max-width: 860px ) {
			font-size: .9em;
			.navbar-toggle{
				top: 13px;
			}
		}

		@include media-breakpoint-down(sm) {
			.navbar-toggle{
				top: -5px;
			}
		}

		@media only screen and ( max-width: 645px ) {
			font-size: 1em;
			overflow: visible; //fix for iphone;
		}	


			
		&.campaign-navbar{
			padding-left:60px;
			padding-right:60px;

			@include media-breakpoint-down(md) {
				padding-left:10px !important;
				padding-right:10px !important;
			}

			.navbar-right{
				text-align:right !important;
				font-size:.9em;
				
				.fa-phone{
					margin-right:5px;
					font-size: 1.3em;
					vertical-align:sub;
					color:$brand-primary;
				}
			}
		}

		&.campaign-navbar-adv {
			padding: 0;

			.container-fluid {
				background: $brand-primary !important;			
				padding: 10px 60px;
				color: #fff;

				@include media-breakpoint-down(sm) {
					padding: 10px 15px;
					text-align: right;
				}	

				.scrolledDown & {
					padding-top: 5px;
					padding-bottom: 5px;
					font-size: 12px;
				}

				a {
					color: #fff;
				}				
			}

			.campaign-navbar-adv-logo {
				img {
					max-width: 270px;
					display: block;
					margin: 20px 0 10px 0;
					display: block;

					.scrolledDown & {
						max-height: 25px;
						margin-bottom: 0;
						margin-top: 5px;
					}
				}	

				em {
					display: inline-block;
					font-style: normal;
					text-transform: uppercase;
					border-top: 1px solid $brand-primary;
					padding: 5px 50px;

					.scrolledDown & {
						font-size: 8px;
						padding-top: 0;
					}
				}
			}
		
		}

		.navbar-header {
			img {
				max-width: 220px;
				height: auto;
				@media only screen and ( max-width: 860px ) {
					max-width: 150px;
				}
				@media only screen and ( max-width: 480px ) {
					max-width: 100% !important;
				}				
			}
			@include media-breakpoint-down(md) {
				float: left;/*
				width: 50% !important;*/
			}	
			@media only screen and ( max-width: 645px ) {
				width: 50% !important;
			}			
			@include media-breakpoint-down(sm) {
				margin-left: -15px;
			}			
			@include media-breakpoint-down(xs) {
				img { max-width: 100%;}
			}				
			@media only screen and ( max-width: 478px ) {
				width: 50% !important;
			}				
		}

		.navbar-brand{
			height: auto;
	    	text-align: center;
	    	position: relative;

	    	em{
				font-style: normal;
	    		color: $brand-primary;
				font-size: 0.750em;
				display: table;
				padding-top: 5px;
	    		border-top: 1px solid $brand-primary;
				margin: 10px auto -20px;
				width: auto;
				min-width: 70%;
				left: 30px;	
				text-transform: uppercase;
				@include media-breakpoint-down(md) {
					display: none;
				}				    		
	    	}

	    	@include media-breakpoint-down(md) {
	    		padding-right:0;
	    	}
		}

		.navbar-right{
			.btn{
				font-size: 1em;
				margin: 1em 30px 0 0;
			}
			.navbar-toggle {
				background-color: transparent;
				border-color: transparent;
				
				.icon-bar {
					background-color: #432a71;
				}
			}		
			@include media-breakpoint-down(md) {
				float: right;/*
				width: 50% !important;
				text-align: right;
				margin-right: -15px;
			*/
				.btn {
					margin: 1.5em 30px 0 0;
				}
			}
			@media only screen and ( max-width: 645px ) {
				width: 50% !important;
				text-align: right;
				margin-right: -15px;
			}	

			@include media-breakpoint-down(sm) {
				height: 100%;
				padding-top: 1.5vw;

				.btn{
					//padding: 8px 6px;
					margin: .5em;
					padding-left: 8px;
					padding-right: 8px;
				}
			}	
			@media only screen and ( max-width: 478px ) {
				margin-right: 0px;
				width: 50% !important;
				
				.navbar-toggle { top: -5px; right: -15px; padding: 5px; }
			}

			@media only screen and ( max-width: 380px ) {
				.btn{ font-size: 0.9em;}
			}							

		}

		#navbar{
		  &.in {
		  	overflow-y: visible !important;
		  }
		  .navbar-nav {
		    width: auto;
		    display: block;
		    float: none;
		    text-align: center;

		    > li {
		      @media only screen and ( max-width: 375px ) {
	      		//display: block;
	      		//font-size: 16px;
				//padding: .5em 0;
	      	  }

		      float: none;
		      display: inline-block;
		      vertical-align:middle;

				&:hover,
				&:focus { 
					a{
						color: $brand-primary;
						border-bottom:2px solid $brand-primary;
				      	@include media-breakpoint-down(md) {
				      		border: none;	
				      	}	 						
					}
				}

		      a {
		      	color: $brand-primary;
		      	font-family: 'Open Sans';
				font-weight: 700;
		      	text-transform: uppercase;   
		      	border-bottom:2px solid $white;
		      	margin:15px 0;	
		      	@media only screen and ( max-width: 920px ) {
		      		border: none;	
		      		padding: 5px !important;
		      	}
		      	@media only screen and ( max-width: 645px ) {
		      		padding: 0 10px !important;
		      	}
		      	@media only screen and ( max-width: 375px ) {
		      		padding: 0 5px !important;
		      	}
		      	@media only screen and ( max-width: 335px ) {
		      		padding: 0 3px !important;
		      	}
		      }

		     // &.menu-item-has-children{
		      		.sub-menu{
				    	//max-height: 0;
				    	transition: all  0.3s ease-out;
				    	overflow: auto;
				    	position: absolute;
						//z-index: 88;
						z-index: 2147483638;
						text-align:center;
						padding-left:0;
						width:250px;
						opacity: 0;
						border-radius: 0 0 8px 8px !important;
						box-shadow: 0 10px 15px rgba(0,0,0,0.5);
						padding: 1em 0;

						@include media-breakpoint-down(sm) {
							position: static;
							transition: none !important;
							max-height: none;
							width: 100%;
							background-color: $brand-primary;
							box-shadow: none;
							border-radius: 0 !important;
							opacity: 1;
						}	
						@media only screen and (max-width: 360px) {
							//width:150px;
						}
						li{
							display:none;
							list-style:none;
							border-bottom: 0;
							padding:0;
							a{
								color:$white;
								line-height: 1.25em;
								border-bottom:0;
								padding: 0.625em 1.8em;
								display: block;
								margin: 0 !important; 
							}
							@include media-breakpoint-down(md) {
								display: block;
								padding:10px 30px;
							}	
						}
				    }
		      		&:hover{
		      			.sub-menu{
		      				background-color: $brand-primary;
				    		//max-height: 500px;
		   					opacity: 1;

		   					li{
		   						display:block;
		   						padding:0;
		   						&:hover{
		   							background-color:$white;
		   							a{
		   								color:$brand-primary;
		   							}
		   						}
		   					}
								
					    }
		      		}
		      	}
				li.mobileDropDown {
					> a::after {
						font-family: "FontAwesome";
						content: "\f107";
						margin-left: 5px;
						font-weight: 800;
					}
				}
		  //  }
		    
		  }	//.navbar-nav
		  	@media only screen and ( max-width: 998px ) {
		  		width: 100% !important;
				float: none;
				clear: both;
		  	}
			@include media-breakpoint-down(sm) {
				//width: 100% !important;
				//float: none;
				//clear: both;
				//overflow: scroll;
				//background: #ccc;
				//height: 60vh;
				//padding-bottom: 30px;

				& * { transition: none !important }				

				ul{
					margin: 0;
					li {
						//display: block !important;

						.sub-menu{
							display:none;
						}
					}
					a {
						padding: 0 5px;
					}
				}
			}	    		  
		}//#navbar  
	}	
}


@media only screen and ( max-width: 1120px ) and ( min-width: 921px) {
	header.site-header #header_nav #navbar .navbar-nav > li a{
		padding: 10px 5px;
		font-size: .9em;
	}
}

@media only screen and ( max-width: 950px ) {
	header.site-header #header_nav #navbar .navbar-nav > li a{
		padding: 5px;
	}

	header.site-header #header_nav .navbar-header img{
		max-width: 150px;
	}
}

@media only screen and ( max-width: 810px ) {
	header.site-header #header_nav #navbar .navbar-nav > li a{
		font-size:.89em;
	}
}
		
@media only screen and ( max-width: 767px ) {
	header.site-header #header_nav #navbar .navbar-nav > li a{
		font-size:1em;
	}
	header.site-header #header_nav .navbar-right .btn {
		margin-top: 0 !important;
	}

	header.site-header #navbar > #menu-primary-menu > li{
		&[data-toggle=open] ul { top: 10em; }
		.menu_close { margin-top: 0px !important}
	}	
}
@media only screen and ( max-width: 750px ) {
	header.site-header #header_nav #navbar{
		width:100%;
		float:none;
		clear:both;
	}

	header.site-header #header_nav #navbar .navbar-nav > li a{
		padding: 0 10px !important;
		font-size:1.2em;
	}
}

@media only screen and ( max-width: 580px ) {
	header.site-header #header_nav #navbar .navbar-nav > li a{
		padding: 0 10px !important;
	}
}

@media only screen and ( max-width: 530px ) {
	header.site-header #header_nav #navbar .navbar-nav > li a{
		padding:0 5px !important;
		/*font-size:1em;*/
	}
}

@media only screen and ( max-width: 480px ) {		
	.menu_close { margin-top: 15px !important}
	header.site-header #header_nav #navbar .navbar-nav > li a{
		font-size:1.1em;
	}
}	

@media only screen and ( max-width: 450px ) {
	header.site-header #header_nav #navbar .navbar-nav > li a{
		font-size:1em;
	}
}
@media only screen and ( max-width: 415px ) {
	header.site-header #header_nav #navbar .navbar-nav > li a{
		font-size:.9em;
	}
}
@media only screen and ( max-width: 380px ) {
	header.site-header #header_nav #navbar .navbar-nav > li a{
		font-size:.72em;
	}
}



header.site-header #navbar > #menu-primary-menu > li{
	.menu_close { display: none }

	@include media-breakpoint-down(sm) {
		// #inserted { display: block }
		transition: all  1s ease-out !important;
		&[data-toggle=closed]{
			& > ul { opacity: 0 }
		}
		&[data-toggle=open]{
				position: static;

				& > ul {
					opacity: 1;
					position: absolute !important; 
					width: 100vw !important;
					top: 6em;
					left: 0;
					height: calc(100vh - 6em);				
					display: block !important;

					li {
						padding: 10px 30px !important;
					}
				}

				.menu_close {
				    position: absolute;
				    z-index: 2147483638;
				    right: 15px;
				    color: #fff;
				    font-size: 2em;
				    display: block;
				    cursor: pointer;
				    margin-top: 15px;
				    font-family: 'Glyphicons Halflings';
				}				
		}
	}

	@media only screen and ( max-width: 645px ) {		
		&[data-toggle=open] ul { top: 9em !important; }
		&[data-toggle=open] .menu_close { margin-top: 0 }
	}	

	@media only screen and ( max-width: 480px ) {		
		&[data-toggle=open] ul { top: 10em !important; }
	}		

	@media only screen and ( max-width: 360px ) {		
		&[data-toggle=open] ul { top: 9em !important; }
	}			
}


/** End Main Site Nav */